.activites-section-1 {
    min-height: 550px;

    img {
        width: 100%;
        min-height: 550px;
        object-fit: cover;
        object-position: left;
    }

    .header-activites-desk {
        min-height: 870px;
    }

    .header-activites-mob {
        display: none;
    }
}

.activites-section-2 {
    .map-wrap {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        margin-right: 8%;

        .page-title {
            margin-right: -31vw;
            margin-left: unset;
        }

        .map-container {
            max-width: 1300px;
            width: 100%;
            margin-top: -100px;
            position: relative;

            .type-img {
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                z-index: 1;
            }

            .type-img.show {
                opacity: 1;
            }
        }
    }

    .types-block {
        margin-top: 90px;

        .input-wrap {

            max-width: 192px;
            margin-bottom: 35px;

            input+label {
                font-size: 18px;
                @include adaptiv-font(18, 12);
                font-weight: 900;
                text-transform: uppercase;
                display: flex;
                position: relative;
                align-items: center;
                gap: 25px;
                cursor: pointer;

                &:before {
                    content: '';
                    display: block;
                    min-width: 18px;
                    height: 18px;
                    border: 1px solid currentColor;
                }
            }

            input:checked+label {
                &:after {
                    content: '';
                    position: absolute;
                    left: 1px;
                    min-width: 18px;
                    height: 18px;
                    height: 18px;
                    background: currentColor;
                }
            }
        }
    }
}

.activites-section-3 {
    .wrap-types {
        // display: grid;
        // grid-template-columns: repeat(4, 1fr);
        // grid-gap: 38px;
        align-items: center;
        column-count: 4;

        .types-block {
            padding: 50px;
            margin-bottom: 2vw;
            color: #fff;
            break-inside: avoid;


            .types-block__title {
                margin-bottom: 34px;
                font-weight: 900;
                @include adaptiv-font(28, 26)
            }

            li {
                position: relative;
                margin-bottom: 17px;

                a {
                    color: #fff;
                    font-weight: 500;
                    @include adaptiv-font(21, 19);
                }

                &:before {
                    content: '';
                    display: block;
                    width: 15px;
                    height: 13px;
                    background: url(../img/icons/li-icon.png);
                    background-size: contain;
                    background-repeat: no-repeat;
                    position: absolute;
                    left: -20px;
                    top: 2px;
                }
            }

            li:last-of-type {
                margin-bottom: 0;
            }
        }

        .col:nth-child(3) {
            margin-top: -50px;
        }

        .col:nth-child(4) {
            margin-top: -250px;
        }
    }
}

.activites-single {
    .calendar-content .calendar-mounthes {
        padding-top: 70px;
    }
}