.blog-section {
    padding-bottom: 150px;

    .blog-body {
        column-count: 4;

        .blog {
            break-inside: avoid;
            padding: 25px;
            max-width: 350px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 3vw;

            &:hover {
                .img-wrap {
                    img {
                        transform: scale(1.1);
                        transition: 0.2s;
                    }
                }
            }

            .img-wrap {
                max-height: 200px;
                overflow: hidden;
                margin-bottom: 60px;
                height: 100%;
                display: flex;
                align-items: center;

                img {
                    object-fit: cover;
                    object-position: center;
                    display: block;
                    height: 100%;
                    width: 100%;
                    transition: 0.2s;
                }
            }

            .blog-info {
                p {
                    color: #fff;
                }

                .blog-date {
                    @include adaptiv-font(14, 12);
                    font-weight: 500;
                    padding-bottom: 15px;
                    border-bottom: 1px solid #fff;
                    position: relative;

                    &:before {
                        content: "";
                        display: block;
                        width: 30px;
                        height: 34px;
                        background: url(../img/icons/nav-next.png);
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                        margin-bottom: 10px;
                    }
                }

                .blog-title {
                    font-weight: 900;
                    @include adaptiv-font(18, 14);
                    padding-top: 15px;
                    line-height: 26px;
                }
            }
        }
    }
}

.blog-swiper-mobile {
    display: none;
}