.top-content {
    height: 700px;
    display: flex;
    align-items: justify;

    .left-col {
        max-width: 520px;
        width: 100%;
        text-align: right;
        padding: 60px 60px 30px 60px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .name-title {
            // margin-bottom: auto;
        }

        .blog-title {
            @include adaptiv-font(30, 24);
            margin-bottom: auto;
        }

        .back-button {
            margin-bottom: 35px;
        }

        .content-subtitle {
            color: #fff;
            margin-bottom: auto;
        }

        .calendar-toggler {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            text-transform: uppercase;
            color: #fff;
            font-weight: 500;
            @include adaptiv-font(23, 14);

            img {
                margin-top: 10px;
                transition: 0.2s;
                transform: rotateX(180deg);
            }

            &.open {
                img {
                    transform: rotateX(0);
                    transition: 0.2s;
                }
            }
        }
    }

    .right-col {
        img {
            height: 100%;
            object-fit: cover;
        }
    }
}

.calendar-content {
    position: relative;
    overflow: hidden;
    background: #fff;
    height: 0;
    overflow: hidden;
    transition: 0.2s;

    &.open {
        height: fit-content;
        transition: 0.2s;
        padding-bottom: 40px;
    }


    .block-color {
        top: 0;
        position: absolute;
        display: block;
        width: 100vw;
        height: 110px;
        left: 0;
    }

    .calendar-swiper {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;
    }

    .buttons-calendar {
        display: none;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-bottom: 10px;
        margin-top: 10px;

        .swiper-button-next-calendar {
            img {
                transform: rotate(180deg);
            }
        }

        .swiper-button-prev-calendar,
        .swiper-button-next-calendar {
            cursor: pointer;
            z-index: 2;
        }
    }

    .calendar-mounthes {
        // display: grid;
        // grid-template-columns: repeat(auto-fill, minmax(260px, 276px));
        // grid-gap: 15px;
        // justify-content: center;

        // padding-top: 70px;/
        padding-bottom: 40px;
        position: relative;


        .mounth {
            display: flex;
            flex-direction: column;
            padding: 15px;
            background: #fff;
            border: 1px solid $text;

            .mounth-title {
                @include adaptiv-font(25, 33);
                font-weight: 900;
                margin-bottom: 16px;
            }

            .mounth-days-name {
                .day-name {
                    font-weight: 900 !important;
                }
            }

            .mounth-days-name,
            .mounth-days {
                display: grid;
                grid-template-columns: repeat(7, 1fr);

                .day-name,
                .day {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @include adaptiv-font(15, 19);
                    color: $text;
                    min-width: 30px;
                    height: 26px;
                    font-weight: 700;



                    &.active {
                        background: $text;
                        color: #fff;
                    }



                    &.changed-pink {
                        background: $light-pink;
                        color: #fff;
                    }

                    &.changed-haki {
                        background: $color1;
                        color: #fff;
                    }

                    &.changed-violet {
                        background: #876382;
                        color: #fff;
                    }

                    &.changed-green {
                        background: #4A7784;
                        color: #fff;
                    }

                    &.changed-orange {
                        background: #AE773E;
                        color: #fff;
                    }

                    &.changed-blue {
                        background: $text;
                        color: #fff;
                    }
                }
            }
        }
    }


    // grafik
    .grafik-list,
    .grafik-wrap {
        max-width: 1175px;
        margin-left: auto;
        margin-right: auto;

        .grafik-blocks {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            gap: 90px 3.6vw;
            // flex-wrap: wrap;

            .grafik {
                max-width: 348px;
                width: 100%;

                .grafik__title {
                    @include adaptiv-font(24, 16);
                    font-weight: 900;
                    margin-bottom: 12px;
                }

                .grafik__columns {
                    color: #fff;
                    display: grid;

                    grid-template-columns: repeat(2, 1fr);

                    .grafik__columns__left {
                        position: relative;
                        height: fit-content;

                        &:after {
                            content: '';
                            width: 1px;
                            height: calc(100% - 40px);
                            background: #fff;
                            right: 0;
                            top: 20px;
                            position: absolute;
                        }
                    }

                    .grafik__columns__right {
                        min-height: 330px;
                    }

                    .grafik__columns__left,
                    .grafik__columns__right {
                        padding: 20px;

                        .grafik__notes {
                            margin-bottom: 20px;

                            .grafik__note {
                                font-weight: 900;
                                display: flex;
                                align-items: center;
                                gap: 10px;
                                margin-bottom: 5px;

                                &.before-arrow:before {
                                    content: '';
                                    display: block;
                                    margin-top: -3px;
                                    width: 12px;
                                    height: 12px;
                                    background: url(../img/icons/li-icon.png);
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                }

                                &.after-arrow:after {
                                    content: '';
                                    display: block;
                                    margin-top: -3px;
                                    width: 12px;
                                    height: 12px;
                                    background: url(../img/icons/li-icon.png);
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                }
                            }

                        }

                        .grafik__time {
                            margin-bottom: 12px;

                            &:last-of-type {
                                margin-bottom: unset;
                            }
                        }
                    }
                }

                .grafik-legend {
                    min-height: 18px;
                    margin-top: 8px;
                }
            }
        }
    }

    .grafik-list {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        margin-left: auto;

        .grafik-list__row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            margin-bottom: 10px;
            max-width: 60%;

            &__name {
                font-weight: 900;
                font-size: 17px;
            }

            &__time {
                font-size: 17px;
                padding-left: 10px;
                border-left: 4px solid $text;
            }
        }
    }


    // tarifs
    .tarifs-block {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        max-width: 1175px;
        margin-left: auto;
        margin-right: auto;
        // flex-wrap: wrap;

    }

    .tarifs-wrap {
        margin-top: 35px;
        width: 100%;
        max-width: 1175px;
        margin-left: auto;
        margin-right: auto;

        .tarifs-additional-info {
            font-weight: 900;
            font-size: 19px;
        }

        .tarif {
            display: flex;
            gap: 20px;
            margin-bottom: 25px;


            .tarif__name {
                @include adaptiv-font(24, 16);
                font-weight: 900;
                color: $text;
                padding-right: 15px;
                border-right: 2px solid #4F0916;
            }

            >.tarif__desc-wrap {
                display: flex;
                flex-direction: column;
                justify-content: center;

                .tarif__desc {
                    margin-bottom: 10px;

                    span {
                        font-weight: 900;
                        font-size: 15px;
                        display: inline-block;
                        margin-right: 20px;
                    }
                }

                .tarif__desc:last-of-type {
                    margin-bottom: 0;
                }
            }
        }

        .tarif:last-of-type {
            margin-bottom: 0;
        }
    }

    .tarif-link {
        font-weight: 900;
        white-space: nowrap;
        position: relative;
        display: flex;
        align-items: center;
        font-size: 24px;
        gap: 10px;

        a {
            color: $text;
        }

        &:after {
            content: "";
            width: 10px;
            height: 10px;
            background: url(../img/icons/li-icon.png) no-repeat center;
            background-size: cover;
        }
    }

}

.bottom-content {
    margin-top: 6.25vw;
    margin-bottom: 55px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;

    .col-2 {
        margin-left: auto;
        margin-right: auto;

        a {
            max-width: 600px;
            width: 100%;
            display: block;

            img {
                width: 100%;
            }

        }

        p {
            margin-bottom: 2.6vw;
            text-align: justify;
        }

        .content-col {
            max-width: 600px;
            margin-right: auto;
            margin-left: auto;

            img {
                margin-bottom: 2.6vw;
                width: 100%;
                display: block;
            }
        }


    }

    .bottom-content__info {
        padding-bottom: 3vw;


        .img-blog-mob {
            display: none;
        }
    }



    // differnce
    .bottom-content__difference {
        padding-top: 45px;

        grid-gap: 70px;

        a {
            display: block;
            max-width: 620px;
        }
    }

    .difference-text {
        margin-bottom: 60px;
        margin-top: 15px;
    }

    // analog content
    .analog-content {
        margin-top: 118px;
        padding-top: 80px;
        border-top: 1px solid $text;

        h3 {
            margin-bottom: 35px;
            font-size: 29px;
        }

        .bottom-content__analog {
            .analog-block {
                display: flex;
                flex-direction: column;

                .img-wrap {
                    img {
                        width: 100%;
                    }
                }

                .info-wrap {
                    padding: 35px 35px 44px;
                    min-height: 240px;
                    display: flex;
                    flex-direction: column;

                    .info__title {
                        @include adaptiv-font(25, 18);
                        margin-bottom: 15px;
                        color: #fff;
                        margin-top: auto;
                    }

                    .info__subtitle {
                        @include adaptiv-font(18, 16);
                        color: #fff;
                    }

                    .info-event-bottom {
                        display: flex;
                        flex-direction: column;
                        margin-top: 60px;
                        padding-top: 10px;
                        border-top: 1px solid #fff;

                        .event-time {
                            color: #fff;
                            font-weight: 600;
                            margin-bottom: 4px;
                        }

                        .event-place {
                            color: #fff;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .top-content {
        flex-direction: column;
        height: fit-content;

        .left-col {
            max-width: 100%;
            text-align: center;

            .back-button {
                max-width: 21px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .calendar-toggler {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            padding: 32px 0;
            gap: 15px;
            color: #fff;
            font-size: 23px;


            img {
                width: 15px;
            }

        }
    }

    .calendar-content .buttons-calendar {
        display: flex;
        justify-content: flex-end;
        position: relative;
        top: 50px;
        right: 20px;
    }

    // .bottom-content .col-2 .content-col {
    //     .img-blog-desk {
    //         display: none;
    //     }

    //     .img-blog-mob {
    //         display: block;
    //     }

    // }

}

@media screen and (max-width: 576px) {

    .calendar-content .calendar-swiper {
        max-width: 340px;
        margin-left: auto;
        margin-right: auto;
    }
}