.filter-section {
    padding-top: 50px;
    padding-bottom: 50px;

    .filter-block {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 30px;
        padding: 0 100px;

        .link-button {
            height: 34px;
            font-size: 14px;
        }

        .right-col {
            display: flex;
            align-items: flex-end;
            gap: 56px;

            .categories-filter {
                h6 {
                    margin-bottom: 10px;
                }

            }

            .remove-filter {
                height: 34px;
                border: 1px solid $brown;
                color: $brown;
                background: unset;
                cursor: pointer;
                display: flex;
                padding: 0 12px;
                align-items: center;
                justify-content: space-between;
                min-width: 142px;
            }
        }

    }

}

.events-body {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 200px;
}


.events-body .event-item {
    width: 100%;
    position: relative;
    margin: auto;
    display: flex;
    min-height: 450px;
    max-width: 530px;

    .middle {
        z-index: 1;
        height: 100%;

        img {
            display: block;
            height: 100%;
        }
    }

    .left {
        padding: 60px;
        transform: translateX(0);
        transition: 0.4s;
        position: absolute;

        height: 100%;

        h2 {
            color: #fff;

            @include adaptiv-font(48, 18)
        }
    }

    .right {
        padding: 30px;
        display: flex;
        align-items: flex-end;
        transform: translateX(0);
        transition: 0.4s;
        position: absolute;

        height: 100%;

        .link-icon {
            margin-bottom: 30px;

            img {
                transform: rotate(180deg);
                max-width: 20px;
            }
        }

        .date-post {
            @include adaptiv-font(24, 16);
            color: #fff;
            font-weight: 500;
            margin-bottom: 15px;
        }

        .title-post {
            @include adaptiv-font(24, 16);
            color: #fff;
            font-weight: 500;
            padding-bottom: 10px;
            border-bottom: 1px solid #fff;
            margin-bottom: 15px;
        }

        .text-post {
            color: #fff;
        }
    }



    &:nth-child(odd) {
        .left {
            order: -1;
            transform: translateX(0);
        }

        .right {
            transform: translateX(0);
        }

        &.animate {
            .left {
                transform: translateX(-100%);
            }

            .right {
                transform: translateX(100%);
            }
        }
    }

    &:nth-child(even) {
        .middle {
            order: -1;
            position: absolute;
            transform: translateX(0);
            transition: 0.4s;
        }

        .left {
            position: relative;
            transform: unset;
            z-index: 1;
            min-height: 450px;
            transition: 0.4s;
        }

        &.animate {
            .middle {
                transform: translateX(-100%);
                transition: 0.4s;
            }

            .right {
                transform: translateX(100%);
                transition: 0.4s;
            }
        }
    }
}

.events-body-mobile {
    display: none;
}


.events-single {
    h1 {
        margin-bottom: auto;
    }
}