.page-info {
    .groups-info-wrap {
        margin-bottom: 200px;
    }
}

.faq-section {
    padding-bottom: 250px;

    .faq-body {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        gap: 1.6vw;

        .faq {
            padding: 20px;
            padding-right: 50px;
            background: $brown;

            .ask {
                color: #fff;
                font-weight: 900;
                cursor: pointer;
                @include adaptiv-font(21, 18);
                position: relative;

                &:after {
                    content: "";
                    display: block;
                    background: url(../img/icons/down-arrow.png);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 16px;
                    height: 16px;
                    position: absolute;
                    right: -25px;
                    top: 5px;
                }

                &.active:after {
                    transform: rotateX(180deg);
                }
            }

            .answer {
                font-size: 13px;
                line-height: 18px;
                max-height: 0;
                overflow: hidden;
                max-width: 800px;
                margin-left: auto;
                margin-right: auto;
                color: #fff;

            }

            .ask.active+.answer {
                max-height: 100%;
                padding-top: 15px;
                margin-top: 60px;
                border-top: 1px solid #fff;
                padding-bottom: 20px;
            }
        }
    }
}