.school-section-1 .main-mobile-img {
    display: none;
}

.excursions-section {
    padding-bottom: 200px;

    .info-block {
        align-items: center;

        .info-title {
            width: fit-content;
            margin-left: 17%;
        }
    }


    .excursion-form-toggler,
    .excursion-form {
        color: #fff;
        padding: 50px;

        .excursion-block__title {
            text-align: center;
            margin-bottom: 0;
        }
    }

    .excursion-form-toggler {
        padding: 0;
        margin-top: 20px;

        .open-form {
            img {
                transition: 0.2s;
            }
        }

        .open-form.active {
            img {
                transform: rotateX(180deg);
                transition: 0.2s;
            }

        }

        .open-form+form {
            // transform: scaleY(0);   
            display: none;
            transform-origin: top;
            overflow: hidden;
            transition: 0.2s;
        }

        .open-form.active+form {
            display: block;
            // transform: scaleY(1);
            transition: 0.2s;
        }

        .form-wrap {
            display: flex;
            flex-direction: column;

            margin-top: 20px;
        }
    }

    .excursion-block {
        background: $brown;
        color: #fff;
        margin-bottom: 2.6vw;
        display: grid;
        grid-template-columns: 1fr 250px;
        padding: 60px 50px 50px;
        grid-gap: 2.8vw;
        break-inside: avoid;

        &__info {}

        &__title {
            @include adaptiv-font(40, 24);
            font-weight: 900;
            margin-bottom: 20px;
        }

        &__text {
            font-size: 15px;
            line-height: 18px;
        }

        &__link {
            margin-top: 80px;
            display: block;
            border-top: 1px solid #fff;
            color: #fff;
            padding-top: 10px;
            font-size: 18px;
            font-weight: 500;
        }

        p {
            color: #fff;
            margin-bottom: 40px;
        }

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    .open-form {
        display: block;
        max-width: 50%;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;

        img {
            width: 30px;
            height: 25px;
        }
    }

    .excursion-block.dark-bg {
        background: $text;
    }
}

.excursion-mobile {
    display: none;
}

.excursions-wrap {
    column-count: 2;
    gap: 3.75vw;
    margin-bottom: 150px;
}