.events-section-1 {
    .main-mobile-img {
        display: none;
    }
}

.infos-page {
    .calendar-content {
        height: unset;
        background: unset;
        padding-bottom: 50px;

        .mounth {
            background: unset;
            min-height: 258px;
        }

        .info-calendar-title {
            margin-top: 6.25vw;
            margin-bottom: 45px;
            margin-left: 17%;
        }

        .legend-calendar {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            font-size: 14px;
            color: $brown;
            font-weight: 900;
            margin-bottom: 0.2vw;
            @include adaptiv-font(18, 14);
        }

        .info-activites-title {
            margin-left: 17%;
            margin-top: 5.4vw;
            font-weight: 900;
            color: $text;
            margin-bottom: 3.1vw;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px;
            @include adaptiv-font(44, 22);

            .date-wrap {
                padding: 5px;
                border: 1px solid $text;
            }

            .remove-date {
                border: 0;
                color: $red;
                font-size: 14px;
                background: unset;
                font-weight: 500;
                cursor: pointer;
            }
        }

        .info-activites-category {
            background: transparent;
            margin-bottom: 15px;
            margin-top: 20px;
            max-width: 1400px;
            margin-left: auto;
            margin-right: auto;
            color: $text;
            font-weight: 900;
            @include adaptiv-font(18, 21);
        }

        .info-activites-wrap {
            max-width: 1400px;
            margin-left: auto;
            margin-right: auto;
            background: #fff;
            margin-bottom: 0.7vw;

            .activites-name {
                padding: 10px 30px;
                position: relative;
                font-weight: 900;
                color: #fff;
                cursor: pointer;
                @include adaptiv-font(34, 20);
            }

            .calendar-wrap {
                display: none;
                padding-left: 15px;
                padding-right: 15px;
            }

            .calendar-mounthes {
                position: relative;
                padding-top: 0;


                .mounth {
                    background: #fff;
                }
            }

            .activites-name.active:not(.not-calendar) {
                &:after {
                    content: '';
                    width: 100%;
                    height: 50px;
                    position: absolute;
                    bottom: -50px;
                    left: 0;
                    background: inherit;
                    // z-index: -1;
                }
            }

            .activites-name.active+.calendar-wrap {
                display: block;
                padding-bottom: 20px;
            }
        }
    }
}

h3.block-title {
    font-size: 40px;
    margin-bottom: 55px;
    padding-left: 100px;
}

#access {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;

    .contact-access-wrap {
        display: flex;
        align-items: center;
        gap: 32px;
        margin-left: 50px;

        .contact-access {
            &__title {
                color: #7D4522;
                font-weight: 900;
                font-size: 30px;
                margin-bottom: 5px;
                padding-left: 2vw;
            }

            &__block {
                padding: 2vw;
                background: #7D4522;
                max-width: 342px;

                a {
                    color: #fff;
                    font-size: 21px;
                    display: inline-block;

                    &:last-of-type {
                        margin-top: 10px;
                    }

                    p {
                        color: #fff;
                    }
                }

                color: #fff;

            }
        }
    }

    .map-access {
        display: flex;
        justify-content: center;
    }

    .title-trip-to {
        font-size: 28px;
        color: $brown;
        margin-top: 110px;
        padding-left: 0;
        margin-bottom: 0;
    }

    .trip-by {
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;

        &__auto {


            .trip-by__title {
                display: flex;
                align-items: flex-end;
                gap: 40px;
                color: $brown;
                font-size: 26px;
                font-weight: 900;
                margin-left: -30px;
                margin-bottom: 10px;

                img {
                    max-width: 250px;
                    transform: translateY(50%)
                }
            }


            .trip-by__block {
                padding: 60px 68px;
                background: $brown;
                color: #fff;

                p {
                    color: #fff;
                    font-size: 21px;
                    max-width: 400px;
                }
            }
        }

        &__train {
            .trip-by__title {
                display: flex;
                align-items: flex-end;
                gap: 40px;
                color: $text;
                font-size: 26px;
                font-weight: 900;
                margin-left: -20px;
                margin-bottom: 10px;

                img {
                    max-width: 290px;
                    transform: translateY(10%)
                }
            }

            .trip-by__block {
                padding: 60px 68px;
                background: $text;
                color: #fff;

                p {
                    color: #fff;
                    max-width: 502px;
                }
            }
        }

        &__bus {
            transform: translateX(40%) translateY(-100px);

            .trip-by__title {
                display: flex;
                align-items: flex-end;
                gap: 40px;
                color: $color5;
                font-size: 26px;
                font-weight: 900;
                margin-left: -90px;
                margin-bottom: 10px;

                img {
                    max-width: 260px;
                    transform: translateY(50%)
                }
            }

            .trip-by__block {
                padding: 60px 68px;
                background: $color5;

                p {
                    color: #fff;
                    max-width: 465px;

                    a {
                        font-size: 21px;
                        color: $text;
                        font-weight: 900;
                    }
                }
            }
        }
    }
}

#team {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;

    .team-wrap {
        display: flex;
        gap: 74px;
        max-width: 1300px;
        margin-left: auto;
        margin-right: auto;

        .team-human {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__img {
                margin-bottom: 23px;
            }

            &__name {
                font-size: 18px;
                font-weight: 900;
                color: $text;
                margin-bottom: 10px;
            }

            &__post {
                color: $text;
                font-size: 14px;
                font-weight: 900;
            }
        }
    }
}

#works {
    padding-top: 150px;
    padding-bottom: 200px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;

    .works-block {
        display: flex;
        justify-content: center;

        .works-img {
            z-index: 1;

            img {
                max-width: 440px;
            }
        }

        .works-info {
            display: flex;
            flex-direction: column;
            position: relative;
            max-width: 535px;

            &__title {
                color: $color2;
                padding-left: 50px;
                font-size: 26px;
                font-weight: 900;
                margin-bottom: 10px;
            }

            &__text {
                padding: 50px;
                position: relative;

                p {
                    color: #fff;
                    margin-bottom: 27px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    background: $color2;
                    height: 100%;
                    left: -180px;
                    top: 0;
                    width: calc(100% + 180px);
                    z-index: -1;
                }
            }
        }
    }
}