.main-section-1 {
    .main-mobile-img {
        display: none;
    }

    .main-desktop-img {
        min-height: 700px;
        object-fit: cover;
        object-position: left;
    }
}

.main-section-2 {
    margin-top: -150px;
    margin-bottom: 170px;

    .train-img2 {
        display: none;
    }

    .info-block {
        align-items: center;

        .left-col {
            max-width: 640px;
            margin-left: auto;
            margin-right: auto;

            .info-title {
                margin-bottom: 38px;
            }

            p {
                margin-bottom: 40px;
            }
        }
    }

    .img-links {
        align-items: center;

        .soutenez-link {
            display: block;
            max-width: 460px;
            margin-left: 100px;
            margin-right: auto;
            margin-top: 40px;
        }
    }
}