@media screen and (max-width: 1680px) {


    // activites
    .activites-section-2 .map-wrap {
        margin-left: auto;
        margin-right: 0;
        max-width: 900px;

        .map-container {
            margin-top: unset;
        }
    }

    .activites-section-3 .wrap-types .col:nth-child(4) {
        margin-top: 0;
    }


}

@media screen and (max-width: 1550px) {
    header {
        .lang-menu {
            margin-left: 5vw;
        }

        padding: 16px 0;
    }


    .section-contacts .contacts-wrap {
        overflow: visible;

        .bottom-contacts {


            .newsletter-link {
                top: -100px;
            }

            .train-wrap img {
                max-width: 350px;
            }
        }
    }




    // map activites
    .activites-section-3 {
        margin-top: 50px;
        margin-bottom: 150px;
    }




    .events-body .event-item {
        max-width: 430px;
        min-height: 430px;

        .middle {
            img {
                min-height: 430px;
                width: 100%;
                object-fit: cover;
            }
        }

        .left {
            max-width: 430px;
            min-height: 430px;
        }

        .right {
            max-width: 430px;
            min-height: 430px;
        }
    }


    // calendar
    .calendar-content .grafik-wrap .grafik-blocks {
        grid-gap: 90px 15px;
    }
}


@media screen and (max-width: 1280px) {

    // activites
    .activites-section-3 .wrap-types {
        column-count: 3;
    }

    .activites-section-3 .wrap-types .col:nth-child(3) {
        margin-top: unset;
    }


    // blog
    .blog-section .blog-body {
        column-count: 3;
    }

    form .form-buttons {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 1200px) {
    .logo-link {
        order: 1;
    }

    header {

        .header-wrap {
            flex-direction: column;
            align-items: flex-end;
            gap: 20px;

            .menu-wrap {
                z-index: 1;
            }
        }
    }

    form .form-wrap {
        padding: 20px;
    }



    // excursion
    .excursions-wrap .excursion-block {
        padding: 30px;
        grid-template-columns: 1fr;

        .excursion-block__img {
            img {
                width: 100%;
            }
        }

        .excursion-block__link {
            margin-top: 30px;
        }
    }




    // events
    .events-body .event-item {
        max-width: 330px;
        min-height: 330px;
        max-height: 330px;

        .middle {
            img {
                min-height: 330px;
                width: 100%;
                object-fit: cover;
            }
        }

        .left {
            max-width: 330px;
            min-height: 330px !important;
            padding: 30px;
        }

        .right {
            max-width: 330px;
            min-height: 330px !important;
        }
    }


    // access
    #access {
        .col-2:not(.trip-by) {
            grid-template-columns: 1fr;

            .contact-access-wrap {
                justify-content: center;
            }
        }
    }



    // #team
    #team .team-wrap {
        gap: 30px;
    }
}




@media screen and (max-width: 1170px) {


    // contacts
    .section-contacts .contacts-wrap .bottom-contacts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0 30px;

        .newsletter-link {
            top: -150px;
        }

        .train-wrap:before {
            display: none;
        }


    }




    // access
    #access {
        .col-2.trip-by {
            grid-template-columns: 1fr;
            margin-bottom: 50px;

            .trip-by__bus {
                transform: unset;

                .trip-by__title {
                    margin-left: unset;
                }
            }
        }
    }
}


@media screen and (max-width: 991px) {
    .filter-section .filter-block {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .tabs .top {
        grid-template-columns: 1fr;

        .reservation {
            margin-right: auto;
            margin-left: auto;
        }
    }

    .tabs .bottom .col-2 {
        gap: 25px;
        grid-template-columns: 1fr;
    }

    .tabs .bottom .tab-content .about-school__tarif {
        margin-top: 30px;
    }


    // parthners
    .parthners-section {
        padding: 90px 0;
    }


    //contacts
    .section-contacts .contacts-wrap {
        overflow: visible;

        .bottom-contacts {
            gap: 30px;


            .train-wrap img {
                max-width: 270px;
            }


        }
    }


    // groups
    .groups-info-wrap {
        margin-bottom: unset;
    }

    .groups-info-wrap,
    .school-info-wrap {
        grid-template-columns: 1fr;
    }

    .page-info .groups-info-wrap {
        margin-bottom: 100px;
    }


    // events
    .events-body-desk {
        display: none;
    }

    .events-body-mobile {
        display: flex;
        width: 100%;
        // max-width: unset;

        .event-item {
            max-height: unset;
            flex-direction: column;
            max-width: 340px;

            .middle,
            .left,
            .right {
                position: relative !important;
                transform: unset;
                max-width: 340px;
            }

            .left {
                height: 200px;
                min-height: unset !important;

                h2 {
                    max-height: 140px;
                    overflow: hidden;
                }

            }

            .middle {
                order: 1 !important;
            }

            .right {
                order: 2 !important;
            }
        }
    }

    .events-body .event-item .middle img {
        max-height: 250px;
        min-height: 250px;
    }



    // #team
    #team .team-wrap {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #works .works-block {
        .works-img img {
            max-width: 350px;
        }

        .works-info__title {
            padding-left: 30px;
        }

        .works-info__text {
            padding: 30px;
        }
    }



    // soutenez
    .soutenez-page {
        .top-content {
            height: unset;

            .left-col {
                .content-subtitle {
                    max-width: 100%;
                }
            }

        }

        .bottom-content {

            h4,
            h3.info-title,
            h4.info-title {
                margin-top: 40px;
                margin-bottom: 40px;
            }
        }
    }


    .activites-section-3 .wrap-types {
        column-count: 2;
    }



    // calendar
    .calendar-content .grafik-wrap .grafik-blocks {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {

    // main
    .main-section-1 .main-desktop-img {
        object-position: right;
    }



    .first-section .page-title {
        margin-left: auto;
        text-align: center;
    }



    .col-2 {
        grid-template-columns: 1fr;
    }

    header {
        .header-wrap {
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
            align-items: center;

            .logo-link {
                position: absolute;
                top: 70px;
                left: 50%;
                transform: translateX(-50%);
            }

            .menu-wrap {
                display: flex;
                width: fit-content;
                margin-left: 0;
                justify-content: space-between;
            }

            .menu {
                flex-direction: column;
                align-items: flex-start;
                background: $brown;
                max-width: 375px;
                width: 100%;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 2;
                padding-left: 128px;
                padding-top: 90px;
                padding-bottom: 90px;
                transform: translateX(100%);
                transition: 0.2s;

                .close-mobile-menu {
                    position: absolute;
                    right: 40px;
                    top: 40px;
                    width: 34px;
                    height: 34px;
                    background: unset;
                    border: 0;
                    padding: 0;
                    cursor: pointer;

                    &:before {
                        content: '';
                        width: 100%;
                        background: #fff;
                        height: 2px;
                        display: block;
                        transform: rotate(45deg);
                        position: absolute;
                    }

                    &:after {
                        content: '';
                        width: 100%;
                        background: #fff;
                        height: 2px;
                        display: block;
                        transform: rotate(-45deg);
                        position: absolute;
                    }
                }

                li:not(.lang-item),
                li {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    &:not(.active):hover {
                        background: unset;
                    }

                    ul.submenu {
                        position: relative;
                        display: flex;
                        background: unset;
                        top: unset;

                        li {
                            a {}

                            display: flex;
                            flex-direction: column;
                        }
                    }
                }

                &.active {
                    transform: translateX(0);
                    transition: 0.2s;
                }
            }

            .lang-menu {
                margin-left: 0;
                gap: 10px;

                a {
                    max-width: 22px;
                }
            }

            .logo-link,
            .mobile-logo {
                background: $text;
                height: unset;
                max-width: 250px;
                width: 100%;
                padding: 5px;
                display: block;
                position: absolute;
                top: 70px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }

    a.mobile-menu-button {
        display: flex;
        align-items: center;
        width: 25px;
        height: 12px;
        cursor: pointer;

        .line {
            display: inline-block;
            width: 100%;
            height: 2px;
            position: relative;
            background: transparent;
        }

        .line:before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            background: $text;
            top: -4px;
            left: 0;
            transition: 0.2s;
        }

        .line:after {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            background: $text;
            bottom: -4px;
            left: 0;
            transition: 0.2s;
        }


    }

    a.mobile-menu-button.active {
        .line {
            background: transparent;
        }

        .line:before {
            transform: rotate(-45deg);
            top: 0;
            transition: 0.2s;
        }

        .line:after {
            transform: rotate(45deg);
            bottom: 0;
            transition: 0.2s;
        }
    }

    .wrap-menu {
        position: absolute;
        transform: translateX(-50%);
        max-width: 400px;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }



    .main-section-2 {
        margin-top: 50px;
    }


    .train-img-desktop {
        display: none;
    }

    .train-img2 {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    // map link
    .map-link {
        .map-desktop-img {
            display: none;
        }

        .map-mob-img {
            display: block;
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }



    // parthners
    .parthners-section {
        padding: 70px 0;
    }








    // map activites
    .map-container,
    .map-container+.types-block {
        display: none;
    }


    .activites-section-1 .header-activites-desk {
        display: none;
    }


    .activites-section-1 .header-activites-mob {
        display: block;
        object-fit: cover;
        width: 100%;
        // position: absolute;
        // left: 0;
        // top: 0;
    }


    .activites-section-2 {
        margin-top: 500px;
    }

    .activites-section-2 .map-wrap .page-title {
        margin-right: auto;
    }


    .activites-section-3 .wrap-types {
        .types-block {
            padding: 40px;
            margin-bottom: 20px;
        }
    }


    .page-info .groups-info-wrap {
        margin-bottom: 50px;
    }





    // blog
    .blog-section .blog-body {
        column-count: 2;
    }

    .filter-section .filter-block .right-col {
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }


    .top-content .left-col.event-text-info {
        padding-top: 30px;
    }

    .top-content .left-col {
        padding: 30px;
    }

    .top-content .right-col img {
        height: 375px;
    }



    // content page
    .bottom-content .col-2 {
        padding: 0 15px;

        p {
            line-height: 26px;
        }

    }


    .tabs .bottom {
        margin-left: -3.6vw;
        margin-right: -3.6vw;

        .col-2 {
            gap: 0;
            margin-bottom: 50px;
        }
    }





    // excursions
    .excursions-wrap {
        column-count: 1;
    }


    form .form-wrap {
        .form-field label {
            flex-direction: column;
            align-items: center;
        }

        .field-checkbox,
        .field-radio {
            .form-field {
                max-width: 320px;
                margin-left: auto;
                margin-right: auto;

                label {
                    flex-direction: row;
                }
            }

            h6 {
                text-align: center;
                margin: 30px 0;
            }
        }

    }


    h3.block-title {
        padding-left: 0;
        text-align: center;
    }

    // works
    #works .works-block {
        flex-direction: column;
        align-items: center;

        .works-info__title {
            text-align: center;
            padding-left: 0;
            font-size: 23px;
        }

        .works-info__text {
            p {
                margin-bottom: 15px;
            }

        }

        .works-info__text:after {
            left: 0;
            width: 100%;
        }
    }


    .soutenez-page {
        .top-content {
            flex-direction: column-reverse;

            .left-col {
                max-width: 100%;
            }
        }
    }


}

@media screen and (max-width: 576px) {
    .first-section .page-title {
        margin-left: 0;
        text-align: center;
        width: 100%;
    }

    // main-section
    .school-section-1,
    .events-section-1,
    .main-section-1 {
        .main-desktop-img {
            display: none;
        }

        .main-mobile-img {
            display: block;
            width: 100vw;
            object-fit: cover;
            max-height: 688px;
        }
    }

    .section-contacts .contacts-wrap .bottom-contacts {
        display: grid;
        grid-template-columns: 1fr;

        .contact-block .soc-links {
            gap: 3vw;
        }
    }

    // activites
    .activites-section-3 .wrap-types {
        column-count: 1;
    }

    .calendar-content .grafik-wrap .grafik-blocks .grafik .grafik__title {
        text-align: center;
    }

    .calendar-content .tarifs-wrap .tarif {
        flex-direction: column;
        margin-bottom: 56px;
        padding: 0 3vw;

        .tarif__name {
            padding-right: 0;
            border-right: unset;
            text-align: center;
        }

        .tarif__desc-wrap {
            .tarif__desc {
                margin-bottom: 30px;
                font-size: 18px;

                span {
                    b {
                        display: block;
                        width: 100%;
                        text-align: center;
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }




    // events
    .school-section-2,
    .events-section-2 {
        margin-top: 500px;
    }



    // infos
    .infos-page .calendar-content .info-activites-wrap {
        margin-bottom: 14px;
    }

    .infos-page .calendar-content .info-activites-title {
        margin-left: 0;
        text-align: center;
        flex-direction: column;
        margin-bottom: 50px;
    }

    .infos-page .calendar-content .info-calendar-title {
        text-align: center;
        margin-left: 0;
        margin-bottom: -20px;
    }


    // faq
    .faq-section .faq-body {
        gap: 14px;
    }

    .faq-section .faq-body .faq .ask.active+.answer {
        margin-top: 30px;
    }



    // blog
    .blog-section .blog-body {
        column-count: 1;
    }

    .blog-swiper-desk {
        display: none;
    }

    .blog-section .blog-body {
        column-count: unset;
    }

    .blog-swiper-mobile {
        display: block;
        // max-width: 350px;
        margin-left: auto;
        margin-right: auto;

        .swiper-slide {
            width: 100% !important;
            max-width: 285px !important;
        }
    }

    .filter-section .filter-block {
        padding: 0;
    }



    // excursion
    .excursions-section .info-block {
        flex-direction: column-reverse;
        display: flex;
        padding: 0 15px;
        gap: 20px;

        .info-title {
            margin-left: 0;
            margin-bottom: 40px;
        }
    }

    .excursion-desk {
        display: none;
    }

    .excursion-mobile {
        display: block;

        .excursions-wrap {
            gap: unset;

            .excursion-block {
                max-width: 275px;
            }
        }
    }

    .excursions-section .excursion-form {
        padding: 25px;
    }

    .excursions-section .excursion-block.dark-bg {
        grid-template-columns: 1fr;
        text-align: center;

        .contact-string {
            justify-content: center;
        }
    }

    .excursions-wrap .excursion-block {
        padding: 15px;

        .excursion-block__link {
            text-align: center;
        }
    }



    //form
    form .form-buttons button {
        height: 80px;
    }



    //access
    #access {

        .contact-access-wrap {
            flex-direction: column;

            .contact-access {
                max-width: 340px;

                .contact-access__title {
                    text-align: center;
                }

                .contact-access__block {
                    padding: 40px;
                    text-align: center;
                }
            }
        }

        .title-trip-to {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 50px;
        }

        .trip-by {
            margin-left: -3.6vw;
            margin-right: -3.6vw;
        }

        .trip-by__auto .trip-by__title,
        .trip-by__bus .trip-by__title,
        .trip-by__train .trip-by__title {
            flex-direction: column;
            align-items: center;
            text-align: center;
            font-size: 23px;
            margin-left: 0;

            img {
                transform: translateY(20px);
            }
        }

        .trip-by__train .trip-by__block,
        .trip-by__bus .trip-by__block,
        .trip-by__auto .trip-by__block {
            padding: 30px;
        }
    }


    // #team
    #team .team-wrap {
        display: grid;
        grid-template-columns: 1fr;
        max-width: 275px;
        margin-left: auto;
        margin-right: auto;


    }




    //soutenez
    .soutenez-page {
        .top-content {
            .left-col {
                .content-subtitle {
                    text-align: left;
                }
            }

            .right-col {
                .soutenez-img-desk {
                    display: none;
                }

                .soutenez-img-mob {
                    display: block;
                    width: 100%;
                }
            }
        }

        .bottom-content {
            h4 {
                font-size: 30px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .main-section-2 {
        margin-top: -50px;
    }

    .main-section-2 .info-block .left-col p {
        margin-bottom: 20px;
    }

    .main-section-2 {
        .img-links {
            .right-col {
                order: -1;
            }

            .soutenez-link {
                max-width: 100%;
                margin-left: 0;


            }
        }
    }


    // activites

    .activites-section-2,
    .activites-section-3,
    .events-section-2 {
        .container {
            padding: 0;
        }
    }


    // page title
    .first-section .page-title {
        width: 100%;
        text-align: center;
        color: $brown;
        margin-left: 0;

        .top-line,
        .bottom-line {
            background: $brown;
        }
    }

    //content page
    .bottom-content .container {
        .right-col {
            margin-left: -3.6vw;
            margin-right: -3.6vw;
        }
    }




    // infos
    .infos-page .calendar-content .info-calendar-title {
        margin-top: 50px;
        font-size: 30px;
    }

    .infos-page .calendar-content .info-activites-wrap {
        margin-left: -3.6vw;
        margin-right: -3.6vw;

        .activites-name {
            text-align: center;
        }
    }

    .infos-page .calendar-content .info-activites-category {
        text-align: center;
    }

    .infos-page .calendar-content .legend-calendar {
        margin-top: -30px;
        line-height: 20px;
    }

}