.groups-info-wrap,
.school-info-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.groups-info,
.school-info {
    margin-left: auto;

    p {
        span {
            font-weight: 900;
            font-size: 31px;
        }

        line-height: 34px;
    }
}

.groups-info-wrap {
    margin-bottom: -100px;
}

.school-tabs-section {
    padding-bottom: 150px;
}


.tabs {
    .top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 50px;
        justify-content: center;
        margin-top: 75px;
        margin-bottom: 35px;

        .reservation {
            margin-left: auto;
            max-width: 300px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 170px;
            text-align: center;
            position: relative;
            margin-right: 40px;

            p {
                font-size: 21px;
                font-weight: 900;
                margin-bottom: 5px;
            }

            a {
                font-weight: 600;
                margin-bottom: 10px;
            }

            p,
            a {
                color: #fff;

            }

            .reservation-img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
            }
        }

        .tab-links {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            gap: 26px;

            a {
                @include adaptiv-font(17, 14);
                cursor: pointer;
                font-weight: 900;
                text-transform: uppercase;
                display: flex;
                gap: 21px;

                &.red-link {
                    color: $color3;
                }

                &.green-link {
                    color: $color5;
                }

                &.active {
                    .square-link {
                        background: currentColor;
                    }
                }

                .square-link {
                    display: block;
                    width: 17px;
                    height: 17px;
                    border: 1px solid currentColor;
                }
            }

        }
    }

    .bottom {
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;

        .col-2 {
            margin-bottom: 4vw;
        }

        .tab-content {
            height: 0;
            // display: none;
            overflow: hidden;
            transition: 0.4s;

            &.active {
                height: auto;
                transition: 0.4s;
                // display: block;
            }

            .slider-wrap {
                display: flex;
                flex-direction: column;
                position: relative;
                height: fit-content;

                // max-width: 680px;
                .school-slider {
                    max-height: 33vw;
                    height: 100%;
                    min-height: 350px;

                    .swiper-slide {
                        width: 100% !important;


                        img {
                            width: 100%;
                            object-fit: cover;
                            min-height: 350px;
                        }
                    }
                }

                .swiper-button-next {
                    top: unset;
                    bottom: 5px;
                    right: 5px;

                    &:after {
                        display: none;
                    }
                }

                .swiper-button-prev {
                    top: unset;
                    bottom: 5px;
                    left: 5px;

                    &:after {
                        display: none;
                    }
                }
            }

            .about-school {
                padding: 45px 3vw;

                p,
                h6 {
                    color: #fff;
                    font-size: 18px;
                    line-height: 28px;
                    display: flex;
                    gap: 10px;
                    margin-bottom: 20px;

                }

                h6 {
                    margin-bottom: 0;
                    font-weight: 500;
                }

                a {
                    color: #fff;
                    @include adaptiv-font(18, 14);
                    line-height: 28px;
                    margin-right: 20px;
                }

                &__programm {
                    display: flex;
                    flex-direction: column;

                    h2 {
                        color: #fff;
                        @include adaptiv-font(40, 33);
                        font-weight: 900;
                        margin-bottom: 32px;
                    }

                }

                &__tarif {
                    padding-top: 30px;
                    margin-top: 100px;
                    border-top: 1px solid #fff;

                }
            }
        }
    }
}