.soutenez-page {
    .top-content {
        height: 600px;

        .left-col {
            max-width: 720px;

            .name-title {
                @include adaptiv-font(42, 30)
            }

            .content-subtitle {
                max-width: 400px;
                margin-left: auto;
            }
        }

        .right-col {
            .soutenez-img-mob {
                display: none;
            }
        }


    }

    .bottom-content {
        p {
            line-height: 24px;
            font-size: 18px;
            font-weight: 500;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;

            b {
                font-weight: 900;
            }

            a {
                font-size: 18px;
                font-weight: 900;
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 28px;
                color: #fff;
                background: $brown;
                width: fit-content;
                padding: 0 15px;

                img {
                    max-width: 10px;
                    margin-left: 10px;
                    margin-bottom: 0 !important;
                }
            }
        }

        h4 {
            font-size: 18px;
        }


    }
}