.parthners-section {
    padding: 130px 0;

    .parthners-slider {
        .swiper-slide {
            align-items: center;
            justify-content: center;
            display: flex;
            height: unset;

            img {
                display: block;
                margin: auto 0;
                max-height: 70px;
            }
        }
    }
}

.map-link {
    .map-mob-img {
        display: none;
    }
}


.cite {
    padding-left: 25px;
    border-left: 10px solid $text;

    p {
        font-size: 18px;
        margin-bottom: 25px !important;
    }
}

.m-t {
    margin-top: 40px;
}

.m-b {
    margin-bottom: 40px;
}