.section-contacts {
    .contacts-wrap {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        padding-bottom: 30px;

        &:after {
            content: '';
            position: absolute;
            bottom: 28px;
            width: 100%;
            z-index: -1;
            left: 0;
            border-bottom: 19px solid $text;
        }

        .bottom-contacts {
            position: relative;
            display: flex;
            align-items: flex-end;
            gap: 30px;
            margin-bottom: 10px;
            padding-bottom: 20px;
            opacity: 1 !important;

            a,
            p {
                font-size: 18px;
                color: #fff;
                font-weight: 600;
                text-align: center;
            }


            .newsletter-link {
                position: absolute;
                max-width: 260px;
                top: 25px;
                left: 6%;
            }

            .contact-block {
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
                background: $text;
                color: #fff;
                min-height: 145px;
                padding: 0 2vw;
                position: relative;

                .contact__mail,
                .contact__tel {
                    margin-bottom: 5px;
                }

                .soc-links {
                    display: flex;
                    gap: 2vw;
                    margin-bottom: 30px;

                    a {
                        min-width: 26px;

                        img {
                            max-height: 20px;
                            width: 100%;
                        }
                    }
                }

            }

            .train-wrap {
                position: relative;
                margin-bottom: -58px;
                display: flex;
                align-items: center;
                flex-direction: column;

                img {

                    max-width: 515px;
                }

                .train-span {
                    @include adaptiv-font(18, 12);
                    font-weight: 600;
                    color: $text;
                    margin-top: 15px;
                }

                &:before {
                    content: '';
                    display: block;
                    width: 100vw;
                    position: absolute;
                    right: 90%;
                    bottom: 75px;
                    height: 2px;
                    background: $text;
                    z-index: -1;
                }
            }
        }
    }
}