.moloko-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .moloko-text {
        font-size: 11px;
        margin: 11px 0;
    }
}

.bg-section {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    .main-desktop-img {
        min-height: 500px;
        object-fit: cover;
        object-position: left;
    }
}

.first-section {
    margin-top: 200px;

    [data-title='right-fade'] {
        transform: translateX(-100vw);
        transition: 1s;
    }

    [data-title='right-fade'].animate-title {
        transform: translateX(0);
        transition: 1s;

    }

    [data-title='right-fade-line'] {
        width: 100%;
        right: 0;
        transition: 1s;
    }

    [data-title='right-fade-line'].animate-line {
        width: 100%;
        right: 0;
        transition: 1s;
    }

    .page-title {
        margin-left: 17%;
        text-align: right;
        // width: 50%;
        margin-right: auto;
        opacity: 1 !important;
        width: fit-content;
        transition: 1s;
        // animation: widthTitle 1s forwards;
        animation-delay: 1s;

    }

    // @keyframes widthTitle {
    //     0% {
    //         max-width: 50%;
    //     }

    //     100% {
    //         width: fit-content;
    //     }
    // }

    .title-note {
        display: block;
    }

    .top-line {
        display: block;
        position: absolute;
        left: 0;
        top: 10px;
        transition: 1s;
        width: 0;
        height: 2px;
        background: #fff;
    }

    .top-line[data-title='right-fade-line'].animate-line {
        // top: 0;
        animation: topLine 1s forwards;
        animation-delay: 1.5s;
    }

    @keyframes topLine {
        0% {
            top: 10px;
        }

        100% {
            top: -10px;
        }
    }

    .bottom-line {
        display: block;
        position: absolute;
        bottom: 10px;
        left: 0;
        transition: 0.8s;
        width: 0;
        height: 2px;
        background: #fff;
    }

    .bottom-line[data-title='right-fade-line'].animate-line {
        // bottom: 0;
        animation: bottomLine 1s forwards;
        animation-delay: 1.5s;
    }

    @keyframes bottomLine {
        0% {
            bottom: 10px;
        }

        100% {
            bottom: -10px;
        }
    }
}

.contact-string {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    span {
        white-space: nowrap;
    }

    a {
        color: #fff;
    }
}

.swiper-container {
    overflow: hidden;
    height: fit-content;
}

.link-button {
    @include link-button;
}



// colors

.color-haki {
    color: $color1;
}

.color-blue {
    color: $color2;
}

.color-red {
    color: $color3;
}

.color-orange {
    color: $color4;
}

.color-green {
    color: $color5;
}

.color-purple {
    color: $color6;
}

.color-violet {
    color: $color7;
}

.brown-color {
    color: $brown;
}

.red-color {
    color: $red;
}

.green-color {
    color: $green
}

.light-green {
    color: $light-green;
}


// backgrounds
.bg-haki {
    background: $color1;
}

.bg-blue {
    background: $color2;
}

.bg-red {
    background: $color3;
}

.bg-orange {
    background: $color4;
}

.bg-green {
    background: $color5;
}

.bg-purple {
    background: $color6;
}

.bg-violet {
    background: $color7;
}

.dark-bg {
    background: $text;
}

.red-bg {
    background: $red;
}

.light-green-bg {
    background: $light-green;
}

.light-green-color {
    color: $light-green;
}

.light-blue-color {
    color: $light-blue;
}

.light-blue-bg {
    background: $light-blue;
}

.light-blue-violet-color {
    color: $light-blue-violet;
}

.light-blue-violet-bg {
    background: $light-blue-violet;
}

.light-violet-color {
    color: $light-violet;
}

.light-violet-bg {
    background: $light-violet;
}

.light-pink-color {
    color: $light-pink
}

.light-pink-bg {
    background: $light-pink;
}

.brown-bg {
    background: $brown;
}

.green-bg {
    background: $green;
}

.col-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.col-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
}




// custom select
.custom-select {
    position: relative;
}

.custom-select select {
    display: none;
}



.select-items div,
.select-selected {
    color: $text;
    padding: 8px 16px;
    font-weight: 500;
    border: 1px solid transparent;
    border-color: $text;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 15px;
}

.select-selected {
    height: 34px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.select-selected {
    font-weight: 500;
    min-width: 268px;
    font-size: 15px;
}

.select-hide {
    display: none;
}

.select-items {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    font-weight: 500;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    background: url(../img/icons/arrow-down.png);
    background-repeat: no-repeat;
    background-position: center;
}


// form
form {

    .form-wrap {
        display: flex;
        flex-direction: column;
        padding: 65px;
        background: $text;

        .field-radio,
        .field-checkbox {
            h6 {
                margin-bottom: 25px;
                font-size: 20px;
                font-weight: 500;
                text-transform: unset;
            }

            .form-field {
                margin-bottom: 25px;
            }
        }

        .field-radio {
            .form-field {
                align-items: center;

                label {
                    span {
                        @include adaptiv-font(20, 20);
                    }
                }

                input+label {
                    position: relative;
                    cursor: pointer;

                    &:before {
                        content: '';
                        min-width: 22px;
                        max-width: 22px;
                        height: 22px;
                        border: 1px solid #fff;
                        border-radius: 50%;
                    }
                }

                input:checked+label {
                    &:after {
                        content: '';
                        min-width: 10px;
                        max-width: 10px;
                        height: 10px;
                        background: #fff;
                        border-radius: 50%;
                        position: absolute;
                        left: 7px;
                        top: 7px;
                    }
                }
            }
        }

        .field-checkbox {
            .form-field {
                align-items: center;
                display: flex;
                gap: 10px;

                input {
                    display: none;
                }

                label {
                    span {
                        white-space: nowrap;
                        @include adaptiv-font(20, 20);
                    }
                }

                label+input {
                    display: block;
                }

                input[type="text"] {
                    background: unset;
                    border: unset;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    color: #fff;
                    width: 100%;
                }

                input+label {
                    position: relative;
                    cursor: pointer;

                    &:before {
                        content: '';
                        width: 20px;
                        height: 20px;
                        border: 1px solid #fff;
                    }
                }

                input:checked+label {
                    &:after {
                        content: '';
                        width: 22px;
                        height: 22px;
                        background: #fff;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                }
            }
        }

        .form-field {
            margin-bottom: 2.8vw;

            label {
                display: flex;
                gap: 25px;

                span {
                    white-space: nowrap;
                    font-weight: 500;

                    @include adaptiv-font(20, 20);
                }

                input {
                    background: unset;
                    border: unset;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
                    color: #fff;
                    width: 100%;
                }

            }

        }


    }

    .form-buttons {
        display: flex;
        gap: 32px;
        margin-top: 32px;
        // flex-wrap: wrap;
        justify-content: center;

        button {
            display: block;
            height: 94px;
            width: 100%;
            max-width: 387px;
            border: 0;
            color: #fff;
            background: $text;
            cursor: pointer;
            font-weight: 900;
            @include adaptiv-font(28, 28)
        }
    }
}