header {
    padding: 42px 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;

    .header-wrap {
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        .mobile-logo {
            display: none;
        }

        .logo-link {
            height: 64px;
            background: $text;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 18px;
            margin: 0 auto;
        }

        .menu {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 21px;

            li:not(.lang-item) {
                padding: 5px 10px;
                transition: 0.2s;
                display: flex;
                align-items: center;
                position: relative;

                &.current-menu-item,
                &.active,
                &:hover {
                    background: $text;
                    transition: 0.2s;


                }

                &:hover {
                    ul.submenu {
                        display: flex;
                        transition: 0.2s;
                    }
                }

                a {
                    font-weight: 600;
                    color: #fff;
                    font-size: 14px;
                    white-space: nowrap;
                    text-align: left;
                }

                ul.submenu {
                    padding: 5px 10px;
                    transition: 0.2s;
                    align-items: center;
                    position: absolute;
                    background: $text;
                    flex-direction: column;
                    top: 100%;
                    left: 0;
                    display: none;

                    li {
                        width: 100%;
                    }
                }
            }

        }
    }

    .lang-menu {
        display: flex;
        align-items: center;
        gap: 18px;
        margin-left: 10.3vw;

        li {
            opacity: 0.5;
            min-width: 34px;
        }

        .current-lang {
            opacity: 1;
        }
    }
}