section.section-contacts
    .contacts-wrap
        .bottom-contacts()
            a(class='newsletter-link' data-aos="fade-up" data-aos-delay="700" href="https://5a1b0602.sibforms.com/serve/MUIEAM50Aj_S7h3xXtYAgYRy-ZXqlwIx-IYTJsJoSwIt8AqCUdmBkA9eVAGxkjIxH0iBb7G_9Egf1DPQ43vWYNjUMGkuJm3df6U")
                img(src="img/main/NEWSLETTER.png", alt="newsletter")
            .contact-block 
                a(href="mailto:Info@minettpark.Lu" class="contact__mail") !{"Info@minettpark.Lu"}
                a(href="tel:+35226582069" class="contact__tel") !{"(+352) 26 58 20 69"}
                p(class="contact__adress") !{"2, Fond-de-Gras, 4576 Fond-de-Gras, Luxembourg "}
            .contact-block
                .soc-links
                    a(href="https://www.facebook.com/MinettPark/?fref=ts" target="_blank")
                        img(src="img/soc/facebook.svg", alt="facebook") 
                    a(href="https://www.instagram.com/minett_park/" target="_blank")
                        img(src="img/soc/instagram.svg", alt="insta") 
                    a(href="https://www.youtube.com/channel/UC4fffgmpuSx2m_cR5NIRiDw" target="_blank")
                        img(src="img/soc/youtube.svg", alt="youtube") 
                    a(href="https://www.tripadvisor.fr/Attraction_Review-g190354-d3404215-Reviews-Minett_Park_Fond_de_Gras-Differdange.html" target="_blank")
                        img(src="img/soc/tripadvisor.svg", alt="sova") 
                p.soc-text !{"Infos legales"}
            .contact-block 
                a(href="https://grengeweb.lu/fr/" class='moloko-logo' target="_blank")
                    img(src="img/main/top-moloko.png", alt="") 
                    img(src="img/main/bottom-moloko.png", alt="")
                    span.moloko-text !{"SITE WEB ÉCO-RESPONSABLE  2022"}
                a(href="https://www.moloko.lu/" target="_blank") 
                    img(src="img/main/by-moloko.png", alt="")
            .train-wrap
                img( class="train-img" src="img/main/train.png", alt="")
                .train-span !{'2022 MINETT PARK ©'}