header
    .container
        .header-wrap
            include ../common/navigation.pug
            include ../common/lang-menu.pug
            a(href="#" class="mobile-logo") 
                img(src="img/logo.png", alt="")