head
	meta(charset="UTF-8", name="viewport", content="width=device-width,initial-scale=1")
	title Minett park
	link(rel="shortcut icon", href="../img/favicon.ico", type="image/x-icon") 
	link(rel='stylesheet', href='https://unpkg.com/swiper/swiper-bundle.min.css', type='text/css', media='all')
	link(href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet")
	link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.css") 
	link(rel='stylesheet', href='css/style.css', type='text/css', media='all')