header
    .container
        .header-wrap 
            a(href="index.html" class="logo-link")
                img(src="img/logo.png", alt="") 
            include ../common/navigation.pug
            include ../common/lang-menu.pug