ul.lang-menu
    li.current-lang
        a(href="#" )
            img(src="img/lang/FR.png", alt="") 
    li
        a(href="#")
            img(src="img/lang/EN.png", alt="") 
    li
        a(href="#")
            img(src="img/lang/DE.png", alt="") 