.map-container
    img(class="map" src="img/activites/PLAN_BACKROUND.svg", alt="plan")
    img( class="type-img show type1" src="img/activites/PLAN_TRAINS.svg", alt="plan")
    img( class="type-img show type2" src="img/activites/PLAN_ACTIVITES.svg", alt="plan")
    img( class="type-img show type3" src="img/activites/PLAN_FOND_DE_GRAS.svg", alt="plan")
    img( class="type-img show type4" src="img/activites/PLAN_LASAUVAGE.svg", alt="plan")
    img( class="type-img show type5" src="img/activites/PLAN_NATURE.svg", alt="plan")
    img( class="type-img show type6" src="img/activites/PLAN_INSOLITE.svg", alt="plan")
    img( class="type-img show type7" src="img/activites/PLAN_RESTAURATION.svg", alt="plan")
