a(class="map-link" href="https://www.google.lu/-maps/place/Fond-de-Gras/@49.5268349,5.8846652,13z/data=!4m5!3m4!1s0x0:0x609304c5c7ad6d36!8m2!" target="_blank")
    img(class="map-desktop-img" src="img/map/map.jpg", alt="")
    img(class="map-mob-img" src="img/map/map-s.jpg", alt="")