nav.menu-wrap
    a.mobile-menu-button
        .line
    ul.menu
        li(class={active : currentPage == "main"}): a(href="index.html") !{"HOME"}
        li(class={active : currentPage == "activites"}): a(href="activites.html") !{"ACTIVITÉS"}
        li(class={active : currentPage == "events"}): a(href="events.html") !{"ÉVÉNEMENTS"}
        li(class={active : currentPage == "schools"}): a(href="schools.html") !{"ÉCOLES"}
        li(class={active : currentPage == "groups"}): a(href="groups.html") !{"GROUPES"}
        li(class={active : currentPage == "blog"}): a(href="blog.html") !{"BLOG"}
        li(class={active : currentPage == "infos"}): a(href="infos.html") !{"INFOS"}
            ul.submenu
                li
                    a(href="#oraries")  !{"HORAIRES ET TARIFS"}
                li
                    a(href="#access")  !{"ACCÈS"}
                li
                    a(href="#team")  !{"L’ÉQUIPE"}
                li
                    a(href="#works")  !{"OFFRE D’EMPLOI"}
        li(class={active : currentPage == "faq"}): a(href="faq.html") !{"FAQ"}