.pagination
    ul
        li
            a(href="#" class='current-page') !{"1"} 
        li
            a(href="#") !{"2"} 
        li
            a(href="#") !{"3"} 
        li
            a(href="#") !{"4"} 
        li
            a(href="#") !{"5"} 
        li
            a(href="#" class='dots') !{"..."} 
        li
            a(href="#") !{"37"}
    button.next 
        include ../icons/breadcrumb-arrow.pug