section.parthners-section
    .container
        .swiper-container.parthners-slider
            .swiper-wrapper 
                .swiper-slide
                    img(src="img/parthners/parthner1.png", alt="")
                .swiper-slide
                    img(src="img/parthners/parthner2.png", alt="")
                .swiper-slide
                    img(src="img/parthners/parthner3.png", alt="")
                .swiper-slide
                    img(src="img/parthners/parthner4.png", alt="")
                .swiper-slide
                    img(src="img/parthners/parthner5.png", alt="")
                .swiper-slide
                    img(src="img/parthners/parthner6.png", alt="")
                .swiper-slide
                    img(src="img/parthners/parthner7.png", alt="")
                .swiper-slide
                    img(src="img/parthners/parthner8.png", alt="")
                .swiper-slide
                    img(src="img/parthners/parthner9.png", alt="")
                .swiper-slide
                    img(src="img/parthners/parthner10.png", alt="")
                .swiper-slide
                    img(src="img/parthners/parthner11.png", alt="")