script(src="js/jquery.min.js")
script(src="https://unpkg.com/swiper/swiper-bundle.min.js")
script(src="https://cdn.jsdelivr.net/npm/@fancyapps/ui/dist/fancybox.umd.js")
script(src='https://unpkg.com/aos@next/dist/aos.js')
script(src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js")
script(src="js/rellax.js")
script(src="js/script.js")