* {
    outline: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Helvetica Neue LT Pro';
    background: url(../img/main/bg.jpg);
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    // padding: 0 70px;
    padding: 0 3.6vw;
    max-width: 1920px;
}

.inner-container {
    max-width: 1600px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 900;
    color: $text;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Helvetica Neue LT Pro';
    font-weight: 500;
    color: $text;
    @include adaptiv-font(21, 18)
}

h2.info-title {
    // font-size: calc(28px + 26 * ((100vw - 320px) / (1920 - 320)));
    @include adaptiv-font(54, 40);
    display: flex;
    flex-wrap: wrap;
    font-weight: 900;

    .brown-text {
        margin-right: 20px;
    }
}

h3.info-title {
    @include adaptiv-font(46, 38);
    display: flex;
    flex-wrap: wrap;
    font-weight: 900;

    .brown-text {
        margin-right: 20px;
    }
}

h4.info-title {
    @include adaptiv-font(30, 30);
    display: flex;
    flex-wrap: wrap;
    font-weight: 900;

    .brown-text {
        margin-right: 20px;
    }
}

.brown-text {
    color: $brown;
}

.dark-text {
    color: $text;
}

.page-title {
    @include adaptiv-font(70, 45);
    color: #fff;
    position: relative;
    // .top-line{
    //     position: absolute;
    //     left: 0;
    //     width: 100%;
    //     height: 1px;
    //     background: #fff;
    //     transition:0.2s;
    // }
    // .bottom-line{
    //     position: absolute;
    //     left: 0;
    //     width: 100%;
    //     height: 1px;
    //     background: #fff;
    //     transition:0.2s;
    // }
}


form {
    margin: 0;
}

h1 {
    @include adaptiv-font(48, 22);
    font-weight: 900;
    color: #fff;
    margin-bottom: 15px;
}

h3 {
    @include adaptiv-font(28, 18);
    font-weight: 900;
    color: $text;
}

h6 {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
}