$maxWidth: 1880;

@mixin adaptiv-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.3vw;
    height: 45px;
    background: $brown;
    color: $grey;
    text-transform: uppercase;
    font-weight: 900;
    padding: 0 18px;
    width: fit-content;
    @include adaptiv-font(20, 17)
}