$text: #002A38;
$brown: #7D323D;
$grey:#d6d6d6;
$red:#A52628;
$green: #346e56;
$light-blue:#4A7784;
$light-pink:#876382;
$light-green:#6F8A80;
$light-violet:#876382;
$light-blue-violet:#6C6C94;


$color1:#7F7025;
$color2:#1A6672;
$color3:#A64027;
$color4:#B36227;
$color5:#52786D;
$color6:#7C4F71;
$color7:#545A84;