.breadcrumbs-wrap
    .container
        ul.breadcrumbs
            li
                a(href="#") !{'Главная'}
            li
                a(href="#") !{'Каталог'} 
            li
                a(href="#") !{'Полиграфия'}
            li
                a(href="#") !{'Визитные карточки'}