html(lang="en")
    append vars
        - currentPage = 'activites'
    //- Include head
    include ../common/head.pug 
    body(class=currentPage)
        //- Include header
        include ../common/header2.pug
        
        section.bg-section.activites-section-1
            img(class="header-activites-desk" src="img/activites/header-activites.png", alt="home")
            img(class="header-activites-mob" src="img/activites/header-activites-S.png", alt="home")
        section.first-section.activites-section-2
            .container
                .map-wrap
                    h1.page-title
                        span.top-line(data-title='right-fade-line')
                        span.bottom-line(data-title='right-fade-line')
                        span.title-note(data-title='right-fade') !{"ACTIVITÉS"}
                    include ../common/map-activites.pug
                    .types-block
                        .input-wrap.color-haki
                            input(type="checkbox" checked name="type-activites" id="type1")
                            label(for="type1" data-color="#7F7025") 
                                span !{'VOYAGER EN TRAINS HISTORIQUES'}
                        .input-wrap.color-blue
                            input(type="checkbox" checked name="type-activites" id="type2")    
                            label(for="type2") 
                                span !{'ACTIVITÉS'}
                        .input-wrap.color-red
                            input(type="checkbox" checked name="type-activites" id="type3")
                            label(for="type3")
                                span !{'FOND-DE-GRAS'}
                        .input-wrap.color-orange
                            input(type="checkbox" checked name="type-activites" id="type4")
                            label(for="type4") 
                                span !{'LASAUVAGE'}
                        .input-wrap.color-green
                            input(type="checkbox" checked name="type-activites" id="type5")
                            label(for="type5") 
                                span !{'NATURE ET ARCHÉOLOGIE'}
                        .input-wrap.color-purple
                            input(type="checkbox" checked name="type-activites" id="type6")
                            label(for="type6")
                                span !{'INSOLITE'}
                        .input-wrap.color-violet
                            input(type="checkbox" checked name="type-activites" id="type7")
                            label(for="type7") 
                                span !{'RESTAURATION'}
        section.activites-section-3
            .container
                .wrap-types
                    //- .col
                    .types-block.bg-haki(class='rellax' data-rellax-speed="1" data-rellax-percentage="0.5")
                        .types-block__title !{"VOYAGER EN TRAINS HISTORIQUES"}
                        .types-block__list
                            li
                                a(href="activites-single.html") !{"LE TRAIN 1900"}
                            li
                                a(href="activites-single.html") !{"LE TRAIN MINIER «MINIÈRESBUNN »"}
                    .types-block.bg-blue(class='rellax' data-rellax-speed="1" data-rellax-percentage="0.5")
                        .types-block__title !{"ACTIVITÉS"}
                        .types-block__list
                            li
                                a(href="activites-single.html") !{"PROMENADE"}
                            li
                                a(href="activites-single.html") !{"LE JEU DE PISTE"}
                            li
                                a(href="activites-single.html") !{"DRAISINE"}
                    //.col
                    .types-block.bg-orange(class='rellax' data-rellax-speed="-1" data-rellax-percentage="0.5")
                        .types-block__title !{"LASAUVAGE"}
                        .types-block__list
                            li
                                a(href="activites-single.html") !{"LASAUVAGE"}
                            li
                                a(href="activites-single.html") !{"LE CARREAU"}
                            li
                                a(href="activites-single.html") !{"SALLE DES PENDUS"}
                            li
                                a(href="activites-single.html") !{"MUSÉE EUGENE PESCH"}
                            li
                                a(href="activites-single.html") !{"ESPACE MUSÉOLOGIQUE"}
                            li
                                a(href="activites-single.html") !{"EGLISE SAINTE BARBE"}
                    //.col
                    .types-block.bg-red(class='rellax' data-rellax-speed="1" data-rellax-percentage="0.5")
                        .types-block__title !{"FOND-DE-GRAS"}
                        .types-block__list
                            li
                                a(href="activites-single.html") !{"FOND-DE-GRAS"}
                            li
                                a(href="activites-single.html") !{"ÉPICERIE VICTOR BINCK"}
                            li
                                a(href="activites-single.html") !{"LE TRAIN DE LAMINOIRS"}
                            li
                                a(href="activites-single.html") !{"HALL PAUL WURTH"}
                            li
                                a(href="activites-single.html") !{"GARE DU FOND-DE-GRAS"}
                    .types-block.bg-green(class='rellax' data-rellax-speed="1" data-rellax-percentage="0.5")
                        .types-block__title !{"NATURE ET ARCHÉOLOGIE"}
                        .types-block__list
                            li
                                a(href="activites-single.html") !{"GIELE BOTTER"}
                            li
                                a(href="activites-single.html") !{"TITELBERG"}
                    //.col
                    .types-block.bg-purole
                        .types-block__title !{"INSOLITE"}
                        .types-block__list
                            li
                                a(href="activites-single.html") !{"DORMIR DANS UNE MAISON DE MINEUR"}
                            li
                                a(href="activites-single.html") !{"UN WAGON DE TRAIN AVEC SAUNA"}
                    .types-block.bg-violet
                        .types-block__title !{"RESTAURATION"}
                        .types-block__list
                            li
                                a(href="activites-single.html") !{"BEI DER GIEDEL"}
                            li
                                a(href="activites-single.html") !{"BISTRO DE LA GARE"}
                            li
                                a(href="activites-single.html") !{"LE PRESBYTÈRE"}
                            li
                                a(href="activites-single.html") !{"BRASSERIE DE LA MINE"}
                            li
                                a(href="activites-single.html") !{"AUBERGE DE LA PROMENADE"}
    
        //- include contacts
        include ../common/contacts-section.pug
        //- include parthners
        include ../common/parthners-section.pug
        //- include map
        include ../common/map-section.pug
        //- include scripts
        include ../common/scripts.pug