html(lang="en")
    append vars
        - currentPage = 'activites-single'
    //- Include head
    include ../common/head.pug 
    body(class=currentPage)
        //- top content  
        section.top-content
            .left-col.bg-haki
                a(href="activites.html").back-button    
                    img(src="img/icons/back.png", alt="")
                h1.name-title !{"LE TRAIN 1900"}
                p.content-subtitle !{"Fond-de-Gras"}
                a(href="#" class='calendar-toggler open ') 
                    |!{"HORAIRES ET TARIFS"}
                    img(src="img/icons/down-arrow.png", alt="")
            .right-col 
                img(src="img/activites/img-train.jpg", alt="")
        //calendar content
        section.calendar-content
            .block-color.bg-haki
            .container.swiper-container.calendar-swiper
                .buttons-calendar
                    .swiper-button-next-calendar
                        img(src="img/icons/li-icon.png", alt="")
                    .swiper-button-prev-calendar
                        img(src="img/icons/li-icon.png", alt="")
                    
                //- calendars
                .calendar-mounthes.swiper-wrapper
                    .swiper-slide.mounth
                        .mounth-title !{"MAI"}
                        .mounth-days-name
                            span.day-name !{"L"}
                            span.day-name !{"M"}
                            span.day-name !{"M"}
                            span.day-name !{"J"}
                            span.day-name !{"V"}
                            span.day-name !{"S"}
                            span.day-name !{"D"}
                        .mounth-days
                            a(class="day" href="#") !{""}
                            a(class="day" href="#") !{""}
                            a(class="day" href="#") !{""}
                            a(class="day" href="#") !{""}
                            a(class="day" href="#") !{""}
                            a(class="day" href="#") !{""}
                            a(class="day changed-orange" href="#") !{"1"}
                            a(class="day" href="#") !{"2"}
                            a(class="day" href="#") !{"3"}
                            a(class="day" href="#") !{"4"}
                            a(class="day" href="#") !{"5"}
                            a(class="day" href="#") !{"6"}
                            a(class="day" href="#") !{"7"}
                            a(class="day changed-orange" href="#") !{"8"}
                            a(class="day spring" href="#") !{"9"}
                            a(class="day" href="#") !{"10"}
                            a(class="day" href="#") !{"11"}
                            a(class="day" href="#") !{"12"}
                            a(class="day" href="#") !{"13"}
                            a(class="day" href="#") !{"14"}
                            a(class="day changed-orange" href="#") !{"15"}
                            a(class="day" href="#") !{"16"}
                            a(class="day" href="#") !{"17"}
                            a(class="day" href="#") !{"18"}
                            a(class="day" href="#") !{"19"}
                            a(class="day" href="#") !{"20"}
                            a(class="day" href="#") !{"21"}
                            a(class="day changed-orange" href="#") !{"22"}
                            a(class="day" href="#") !{"23"}
                            a(class="day" href="#") !{"24"}
                            a(class="day" href="#") !{"25"}
                            a(class="day spring" href="#") !{"26"}
                            a(class="day" href="#") !{"27"}
                            a(class="day" href="#") !{"28"}
                            a(class="day changed-orange" href="#") !{"29"}
                            a(class="day" href="#") !{"30"}
                            a(class="day" href="#") !{"31"}
                            a(class="day" href="#") !{""}
                            a(class="day" href="#") !{""}
                            a(class="day" href="#") !{""}
                            a(class="day" href="#") !{""}
                            a(class="day" href="#") !{""}
                    .swiper-slide.mounth
                        .mounth-title !{"JUIN"}
                        .mounth-days-name
                            span.day-name !{"L"}
                            span.day-name !{"M"}
                            span.day-name !{"M"}
                            span.day-name !{"J"}
                            span.day-name !{"V"}
                            span.day-name !{"S"}
                            span.day-name !{"D"}
                        .mounth-days
                            a(class="day" href="#") !{""}
                            a(class="day" href="#") !{""}
                            a(class="day" href="#") !{"1"}
                            a(class="day" href="#") !{"2"}
                            a(class="day" href="#") !{"3"}
                            a(class="day" href="#") !{"4"}
                            a(class="day changed-orange" href="#") !{"5"}
                            a(class="day" href="#") !{"6"}
                            a(class="day" href="#") !{"7"}
                            a(class="day" href="#") !{"8"}
                            a(class="day" href="#") !{"9"}
                            a(class="day" href="#") !{"10"}
                            a(class="day" href="#") !{"11"}
                            a(class="day changed-orange" href="#") !{"12"}
                            a(class="day" href="#") !{"13"}
                            a(class="day" href="#") !{"14"}
                            a(class="day" href="#") !{"15"}
                            a(class="day" href="#") !{"16"}
                            a(class="day" href="#") !{"17"}
                            a(class="day" href="#") !{"18"}
                            a(class="day changed-orange" href="#") !{"19"}
                            a(class="day" href="#") !{"20"}
                            a(class="day" href="#") !{"21"}
                            a(class="day" href="#") !{"22"}
                            a(class="day" href="#") !{"23"}
                            a(class="day" href="#") !{"24"}
                            a(class="day" href="#") !{"25"}
                            a(class="day changed-orange" href="#") !{"26"}
                            a(class="day" href="#") !{"27"}
                            a(class="day" href="#") !{"28"}
                            a(class="day" href="#") !{"29"}
                            a(class="day" href="#") !{"30"}
                            a(class="day" href="#") !{"31"}
                            a(class="day" href="#") !{""}
                            a(class="day" href="#") !{""}
                            a(class="day" href="#") !{""}
                    .swiper-slide.mounth
                        .mounth-title !{"JUILLET"}
                        .mounth-days-name
                            span.day-name !{"L"}
                            span.day-name !{"M"}
                            span.day-name !{"M"}
                            span.day-name !{"J"}
                            span.day-name !{"V"}
                            span.day-name !{"S"}
                            span.day-name !{"D"}
                        .mounth-days
                            a(class="day" href="#") !{""}
                            a(class="day" href="#") !{""}
                            a(class="day" href="#") !{""}
                            a(class="day" href="#") !{""}
                            a(class="day" href="#") !{"1"}
                            a(class="day" href="#") !{"2"}
                            a(class="day changed-orange" href="#") !{"3"}
                            a(class="day" href="#") !{"4"}
                            a(class="day" href="#") !{"5"}
                            a(class="day" href="#") !{"6"}
                            a(class="day" href="#") !{"7"}
                            a(class="day" href="#") !{"8"}
                            a(class="day" href="#") !{"9"}
                            a(class="day changed-orange" href="#") !{"10"}
                            a(class="day" href="#") !{"11"}
                            a(class="day" href="#") !{"12"}
                            a(class="day" href="#") !{"13"}
                            a(class="day" href="#") !{"14"}
                            a(class="day" href="#") !{"15"}
                            a(class="day" href="#") !{"16"}
                            a(class="day changed-orange" href="#") !{"17"}
                            a(class="day" href="#") !{"18"}
                            a(class="day" href="#") !{"19"}
                            a(class="day" href="#") !{"20"}
                            a(class="day changed-haki" href="#") !{"21"}
                            a(class="day" href="#") !{"22"}
                            a(class="day" href="#") !{"23"}
                            a(class="day changed-orange changed-orange" href="#") !{"24"}
                            a(class="day" href="#") !{"25"}
                            a(class="day" href="#") !{"26"}
                            a(class="day" href="#") !{"27"}
                            a(class="day changed-haki" href="#") !{"28"}
                            a(class="day" href="#") !{"29"}
                            a(class="day" href="#") !{"30"}
                            a(class="day changed-orange changed-orange" href="#") !{"31"}
                    .swiper-slide.mounth
                        .mounth-title !{"AOUT"}
                        .mounth-days-name
                            span.day-name !{"L"}
                            span.day-name !{"M"}
                            span.day-name !{"M"}
                            span.day-name !{"J"}
                            span.day-name !{"V"}
                            span.day-name !{"S"}
                            span.day-name !{"D"}
                        .mounth-days
                            a(class="day" href="#") !{"1"}
                            a(class="day" href="#") !{"2"}
                            a(class="day" href="#") !{"3"}
                            a(class="day changed-haki" href="#") !{"4"}
                            a(class="day" href="#") !{"5"}
                            a(class="day" href="#") !{"6"}
                            a(class="day changed-orange changed-orange" href="#") !{"7"}
                            a(class="day" href="#") !{"8"}
                            a(class="day" href="#") !{"9"}
                            a(class="day" href="#") !{"10"}
                            a(class="day changed-haki" href="#") !{"11"}
                            a(class="day" href="#") !{"12"}
                            a(class="day" href="#") !{"13"}
                            a(class="day changed-orange changed-orange" href="#") !{"14"}
                            a(class="day" href="#") !{"15"}
                            a(class="day" href="#") !{"16"}
                            a(class="day" href="#") !{"17"}
                            a(class="day changed-haki" href="#") !{"18"}
                            a(class="day" href="#") !{"19"}
                            a(class="day" href="#") !{"20"}
                            a(class="day changed-orange changed-orange" href="#") !{"21"}
                            a(class="day" href="#") !{"22"}
                            a(class="day" href="#") !{"23"}
                            a(class="day" href="#") !{"24"}
                            a(class="day" href="#") !{"25"}
                            a(class="day" href="#") !{"26"}
                            a(class="day" href="#") !{"27"}
                            a(class="day changed-orange" href="#") !{"28"}
                            a(class="day" href="#") !{"29"}
                            a(class="day" href="#") !{"30"}
                            a(class="day" href="#") !{"31"}
                            a(class="day" href="#") !{""}
                            a(class="day" href="#") !{""}
                            a(class="day" href="#") !{""}
                            a(class="day" href="#") !{""}
                    .swiper-slide.mounth
                        .mounth-title !{"SEPTEMBRE"}
                        .mounth-days-name
                            span.day-name !{"L"}
                            span.day-name !{"M"}
                            span.day-name !{"M"}
                            span.day-name !{"J"}
                            span.day-name !{"V"}
                            span.day-name !{"S"}
                            span.day-name !{"D"}
                        .mounth-days
                            a(class="day" href="#") !{""}
                            a(class="day" href="#") !{""}
                            a(class="day" href="#") !{""}
                            a(class="day" href="#") !{"1"}
                            a(class="day" href="#") !{"2"}
                            a(class="day" href="#") !{"3"}
                            a(class="day changed-orange" href="#") !{"4"}
                            a(class="day" href="#") !{"5"}
                            a(class="day" href="#") !{"6"}
                            a(class="day" href="#") !{"7"}
                            a(class="day" href="#") !{"8"}
                            a(class="day" href="#") !{"9"}
                            a(class="day" href="#") !{"10"}
                            a(class="day changed-orange" href="#") !{"11"}
                            a(class="day" href="#") !{"12"}
                            a(class="day" href="#") !{"13"}
                            a(class="day" href="#") !{"14"}
                            a(class="day" href="#") !{"15"}
                            a(class="day" href="#") !{"16"}
                            a(class="day" href="#") !{"17"}
                            a(class="day changed-orange" href="#") !{"18"}
                            a(class="day" href="#") !{"19"}
                            a(class="day" href="#") !{"20"}
                            a(class="day" href="#") !{"21"}
                            a(class="day" href="#") !{"22"}
                            a(class="day" href="#") !{"23"}
                            a(class="day" href="#") !{"24"}
                            a(class="day changed-orange" href="#") !{"25"}
                            a(class="day" href="#") !{"26"}
                            a(class="day" href="#") !{"27"}
                            a(class="day" href="#") !{"28"}
                            a(class="day" href="#") !{"29"}
                            a(class="day" href="#") !{"30"}
                            a(class="day" href="#") !{"31"}
                            a(class="day" href="#") !{""}

                //grafik
                .grafik-wrap
                    .grafik-blocks
                        .grafik
                            .grafik__title.color-orange !{'DIMANCHES PRINTEMPS AUTOMNE'}
                            .grafik__columns.bg-orange
                                .grafik__columns__left
                                    .grafik__notes
                                        .grafik__note.after-arrow !{"PÉTANGE"}         
                                        .grafik__note !{"FOND-DE-GRAS"} 
                                    .grafik__time !{"14:15*"}   
                                    .grafik__time !{"15:15"}   
                                    .grafik__time !{"16:15*"}   
                                    .grafik__time !{"17:15"}   
                                    .grafik__time !{"18:20*"}   
                                    .grafik__time !{"18:55"}   
                                .grafik__columns__right
                                    .grafik__notes
                                        .grafik__note !{"FOND-DE-GRAS"}         
                                        .grafik__note.before-arrow !{"PÉTANGE"}
                                    .grafik__time !{"13:20*"}   
                                    .grafik__time !{"14:45"}   
                                    .grafik__time !{"15:40*"}   
                                    .grafik__time !{"16:45"}   
                                    .grafik__time !{"17:40*"}   
                                    .grafik__time !{"18:30"}
                            .grafik-legend.color-orange !{"* Train à vapeur"}
                        .grafik
                            .grafik__title.color-blue !{'DIMANCHES ÉTÉ'}
                            .grafik__columns.bg-blue
                                .grafik__columns__left
                                    .grafik__notes
                                        .grafik__note.after-arrow !{"PÉTANGE"}         
                                        .grafik__note !{"FOND-DE-GRAS"} 
                                    .grafik__time !{"10:30"}   
                                    .grafik__time !{"14:15*"}   
                                    .grafik__time !{"15:15"}   
                                    .grafik__time !{"16:15*"}   
                                    .grafik__time !{"17:15"}   
                                    .grafik__time !{"18:20*"}   
                                    .grafik__time !{"18:55"}   
                                .grafik__columns__right
                                    .grafik__notes
                                        .grafik__note !{"FOND-DE-GRAS"}         
                                        .grafik__note.before-arrow !{"PÉTANGE"}
                                    .grafik__time !{"09:55"}   
                                    .grafik__time !{"13:20*"}   
                                    .grafik__time !{"14:45"}   
                                    .grafik__time !{"15:40*"}   
                                    .grafik__time !{"16:45"}   
                                    .grafik__time !{"17:40*"}   
                                    .grafik__time !{"18:30"} 
                            .grafik-legend.color-blue !{"* Train à vapeur"}
                        .grafik
                            .grafik__title.color-haki !{'JEUDIS ÉTÉ'}
                            .grafik__columns.bg-haki
                                .grafik__columns__left
                                    .grafik__notes
                                        .grafik__note.after-arrow !{"PÉTANGE"}         
                                        .grafik__note !{"FOND-DE-GRAS"} 
                                    .grafik__time !{"10:30"}   
                                    .grafik__time !{"14:30"}   
                                    .grafik__time !{"17:30"}   
                                .grafik__columns__right
                                    .grafik__notes
                                        .grafik__note !{"FOND-DE-GRAS"}         
                                        .grafik__note.before-arrow !{"PÉTANGE"}
                                    .grafik__time !{"09:55"}   
                                    .grafik__time !{"14:00"}   
                                    .grafik__time !{"17:00"}   
                            .grafik-legend !{""}
        
                //tarifs
                .tarifs-wrap
                    .tarif
                        .tarif__name !{"DURÉE"}
                        .tarif__desc-wrap
                            .tarif__desc !{"25 minutes par trajet"}
                    .tarif
                        .tarif__name !{"TARIFS"}
                        .tarif__desc-wrap
                            .tarif__desc 
                                span
                                    b 
                                        |!{"1"}
                                        sup !{"ÈRE "}
                                        |!{"CLASSE"}                        
                                |!{"adulte 14€, enfant (5-11ans) 10€, enfant (0-4) gratuit"}
                            .tarif__desc 
                                span
                                    b 
                                        |!{"2"}
                                        sup !{"ND "}
                                        |!{"CLASSE"}       
                                |!{"adulte 10€, enfant (5-11ans) 8€, enfant (0-4) gratuit"}
        
        //- bottom content        
        section.bottom-content
            .container

                //- info content
                .col-2.bottom-content__info
                    .left-col.content-col
                        p !{"Le Train 1900 circule entre Pétange et le Fond-de-Gras. La collection de l'association Train 1900 comporte une douzaine de locomotives à vapeur et Diesel et deux autorails. Assis dans d'anciennes voitures construites entre 1896 et 1934 soigneusement restaurées, les passagers font un véritable voyage dans le temps, au rythme des coups de sifﬂet, des secousses et des volutes de vapeur. "}
                        p !{"Le Train 1900 emprunte l'ancienne « Ligne des Minières » ouverte à partir de 1874 par la Compagnie de Chemins de Fer et Minières Prince Henri (PH). Cette ligne sert à l'époque au transport du minerai de fer exploité dans les coteaux avoisinants. Elle est fermée à tout traﬁc en 1963 suite à l'abandon des exploitations minières et à un glissement de déblais, jusqu'à ce qu'en 1970 une équipe de bénévoles forment l’association AMTF et mettent sur les  rails dès 1973 le TRAIN 1900. Des locomotives à vapeur, la plupart en provenance des usines sidérurgiques du bassin, tractent du matériel voyageur du début du 20e siècle à travers un paysage marqué par l'exploitation du minerai de fer."}
                    .right-col.content-col
                        img(src="img/activites/img-train2.jpg", alt="")
                //- difference train
                h3 !{"Les différentes tractions du Train 1900 :"}
                .col-2.bottom-content__difference
                    a(href="img/activites/img-train3.jpg" data-fancybox="")
                        p !{"Autorail"}
                        img(src="img/activites/img-train3.jpg", alt="")
                    a(href="img/activites/img-train4.jpg" data-fancybox="")
                        p !{"Diesel"}
                        img(src="img/activites/img-train4.jpg", alt="")
                    a(href="img/activites/img-train5.jpg" data-fancybox="")
                        p !{"Vapeur"}
                        img(src="img/activites/img-train5.jpg", alt="")
                p.difference-text !{"Plus d'informations sur les différentes locomotives et wagons : "}
                    i !{"ici"}
                //- analog content
                .analog-content
                    h3 !{"ACTIVITÉS LIÉES"}
                    .bottom-content__analog.swiper-container
                        .swiper-wrapper
                            a(href="#").analog-block.swiper-slide
                                .img-wrap
                                    img(src="img/activites/analog-photo.png", alt="")
                                .info-wrap.bg-haki
                                    h3.info__title !{"LE TRAIN MINIER «MINIÈRESBUNN»"}
                                    .info__subtitle !{"Fond-de-Gras"}
                            a(href="#").analog-block.swiper-slide
                                .img-wrap
                                    img(src="img/activites/analog-photo.png", alt="")
                                .info-wrap.bg-haki
                                    h3.info__title !{"LE TRAIN MINIER «MINIÈRESBUNN»"}
                                    .info__subtitle !{"Fond-de-Gras"}
                            a(href="#").analog-block.swiper-slide
                                .img-wrap
                                    img(src="img/activites/analog-photo.png", alt="")
                                .info-wrap.bg-haki
                                    h3.info__title !{"LE TRAIN MINIER «MINIÈRESBUNN»"}
                                    .info__subtitle !{"Fond-de-Gras"}
                            a(href="#").analog-block.swiper-slide
                                .img-wrap
                                    img(src="img/activites/analog-photo.png", alt="")
                                .info-wrap.bg-haki
                                    h3.info__title !{"LE TRAIN MINIER «MINIÈRESBUNN»"}
                                    .info__subtitle !{"Fond-de-Gras"}
                            a(href="#").analog-block.swiper-slide
                                .img-wrap
                                    img(src="img/activites/analog-photo.png", alt="")
                                .info-wrap.bg-haki
                                    h3.info__title !{"LE TRAIN MINIER «MINIÈRESBUNN»"}
                                    .info__subtitle !{"Fond-de-Gras"}
        //- include scripts
        include ../common/scripts.pug