html(lang="en")
    append vars
        - currentPage = 'blog'
    //- Include head
    include ../common/head.pug 
    body(class=currentPage)
        //- Include header
        include ../common/header2.pug
        
        section.bg-section.events-section-1
            img(class="main-desktop-img" src="img/blog/header-BLOG.png", alt="home")
            img(class="main-mobile-img" src="img/blog/header-BLOG-s.png", alt="home")
        section.first-section.events-section-2
            .container
                h1.page-title
                    span.top-line(data-title='right-fade-line')
                    span.bottom-line(data-title='right-fade-line')
                    span.title-note(data-title='right-fade') !{"BLOG"}
        section.filter-section
            .container
                .filter-block
                    .left-col
                        //- a(href="#").link-button !{"Archive"}
                            
                    .right-col
                        .categories-filter
                            h6 !{"CATÉGORIES"}
                            form(action="") 
                                .custom-select
                                    select(name="" )
                                        option(value="Tout voir") !{"Tout voir"}
                                        option(value="Tout voir") !{"Tout voir1"}
                                        option(value="Tout voir") !{"Tout voir2"}
                                        option(value="Tout voir") !{"Tout voir3"}
                        button.remove-filter !{"Suprimer "}
                            img(src="img/icons/cross.svg", alt="")
        
        //blog
        section.blog-section
            .inner-container.blog-swiper-desk
                .blog-body
                    .blog.bg-green
                        .img-wrap 
                            img(src="img/blog/blog1.png", alt="")
                        a(href="blog-single.html" class="blog-info")      
                            p.blog-date !{"MERCREDI 10 NOVEMBRE 2021"}
                            p.blog-title !{"«SCHLAMMENFELD» - UNE MINE À CIEL OUVERT RECONVERTIE EN RÉSERVE NATURELLE, PARTIE 3"}
                    .blog.dark-bg
                        .img-wrap 
                            img(src="img/blog/blog5.png", alt="")
                        a(href="#" class="blog-info")      
                            p.blog-date !{"MERCREDI 10 NOVEMBRE 2021"}
                            p.blog-title !{"EPISODE 3 : DÉCOUVREZ LE TRAIN 1900"}
                    .blog.bg-green
                        .img-wrap 
                            img(src="img/blog/blog1.png", alt="")
                        a(href="blog-single.html" class="blog-info")      
                            p.blog-date !{"MERCREDI 10 NOVEMBRE 2021"}
                            p.blog-title !{"«SCHLAMMENFELD» - UNE MINE À CIEL OUVERT RECONVERTIE EN RÉSERVE NATURELLE, PARTIE 3"}
                    .blog.bg-green
                        .img-wrap 
                            img(src="img/blog/blog2.png", alt="")
                        a(href="blog-single.html" class="blog-info")      
                            p.blog-date !{"MERCREDI 10 NOVEMBRE 2021"}
                            p.blog-title !{"«SCHLAMMENFELD» - UNE MINE À CIEL OUVERT RECONVERTIE EN RÉSERVE NATURELLE, PARTIE 2"}
                    .blog.dark-bg
                        .img-wrap 
                            img(src="img/blog/blog6.png", alt="")
                        a(href="blog-single.html" class="blog-info")      
                            p.blog-date !{"MARDI 13 JUILLET 2021"}
                            p.blog-title !{"EPISODE 2: DÉCOUVREZ LE LE TRAIN MINIER 'MINIÈRESBUNN'"}
                    .blog.bg-green
                        .img-wrap 
                            img(src="img/blog/blog2.png", alt="")
                        a(href="blog-single.html" class="blog-info")      
                            p.blog-date !{"MERCREDI 10 NOVEMBRE 2021"}
                            p.blog-title !{"«SCHLAMMENFELD» - UNE MINE À CIEL OUVERT RECONVERTIE EN RÉSERVE NATURELLE, PARTIE 2"}
                    .blog.bg-green
                        .img-wrap 
                            img(src="img/blog/blog3.png", alt="")
                        a(href="blog-single.html" class="blog-info")      
                            p.blog-date !{"MERCREDI 10 NOVEMBRE 2021"}
                            p.blog-title !{"«SCHLAMMENFELD» - UNE MINE À CIEL OUVERT RECONVERTIE EN RÉSERVE NATURELLE, PARTIE 1"}
                    .blog.bg-green
                        .img-wrap 
                            img(src="img/blog/blog3.png", alt="")
                        a(href="blog-single.html" class="blog-info")      
                            p.blog-date !{"MERCREDI 10 NOVEMBRE 2021"}
                            p.blog-title !{"«SCHLAMMENFELD» - UNE MINE À CIEL OUVERT RECONVERTIE EN RÉSERVE NATURELLE, PARTIE 1"}
                    .blog.bg-green
                        .img-wrap 
                            img(src="img/blog/blog3.png", alt="")
                        a(href="blog-single.html" class="blog-info")      
                            p.blog-date !{"MERCREDI 10 NOVEMBRE 2021"}
                            p.blog-title !{"«SCHLAMMENFELD» - UNE MINE À CIEL OUVERT RECONVERTIE EN RÉSERVE NATURELLE, PARTIE 1"}
                    .blog.brown-bg
                        .img-wrap 
                            img(src="img/blog/blog4.png", alt="")
                        a(href="blog-single.html" class="blog-info")      
                            p.blog-date !{"LUNDI 11 OCTOBRE 2021"}
                            p.blog-title !{"ROMAIN BAUMANN, PRÉSIDENT DU TRAIN 1900"}
                    .blog.bg-haki
                        .img-wrap 
                            img(src="img/blog/blog8.png", alt="")
                        a(href="blog-single.html" class="blog-info")      
                            p.blog-date !{"LUNDI 11 OCTOBRE 2021"}
                            p.blog-title !{"POURQUOI LE MINERAI DE FER DE NOTRE RÉGION EST-IL APPELÉ «MINETTE»?"}
                    .blog.brown-bg
                        .img-wrap 
                            img(src="img/blog/blog4.png", alt="")
                        a(href="blog-single.html" class="blog-info")      
                            p.blog-date !{"LUNDI 11 OCTOBRE 2021"}
                            p.blog-title !{"ROMAIN BAUMANN, PRÉSIDENT DU TRAIN 1900"}

            
                
                    
            .inner-container.swiper-container.blog-swiper-mobile 
                .blog-body.swiper-wrapper 
                    .swiper-slide.blog.bg-green
                        .img-wrap 
                            img(src="img/blog/blog1.png", alt="")
                        a(href="blog-single.html" class="blog-info")      
                            p.blog-date !{"MERCREDI 10 NOVEMBRE 2021"}
                            p.blog-title !{"«SCHLAMMENFELD» - UNE MINE À CIEL OUVERT RECONVERTIE EN RÉSERVE NATURELLE, PARTIE 3"}
                    .swiper-slide.blog.dark-bg
                        .img-wrap 
                            img(src="img/blog/blog5.png", alt="")
                        a(href="#" class="blog-info")      
                            p.blog-date !{"MERCREDI 10 NOVEMBRE 2021"}
                            p.blog-title !{"EPISODE 3 : DÉCOUVREZ LE TRAIN 1900"}
                    .swiper-slide.blog.bg-green
                        .img-wrap 
                            img(src="img/blog/blog1.png", alt="")
                        a(href="blog-single.html" class="blog-info")      
                            p.blog-date !{"MERCREDI 10 NOVEMBRE 2021"}
                            p.blog-title !{"«SCHLAMMENFELD» - UNE MINE À CIEL OUVERT RECONVERTIE EN RÉSERVE NATURELLE, PARTIE 3"}
                    .swiper-slide.blog.bg-green
                        .img-wrap 
                            img(src="img/blog/blog2.png", alt="")
                        a(href="blog-single.html" class="blog-info")      
                            p.blog-date !{"MERCREDI 10 NOVEMBRE 2021"}
                            p.blog-title !{"«SCHLAMMENFELD» - UNE MINE À CIEL OUVERT RECONVERTIE EN RÉSERVE NATURELLE, PARTIE 2"}
                    .swiper-slide.blog.dark-bg
                        .img-wrap 
                            img(src="img/blog/blog6.png", alt="")
                        a(href="blog-single.html" class="blog-info")      
                            p.blog-date !{"MARDI 13 JUILLET 2021"}
                            p.blog-title !{"EPISODE 2: DÉCOUVREZ LE LE TRAIN MINIER 'MINIÈRESBUNN'"}
                    .swiper-slide.blog.bg-green
                        .img-wrap 
                            img(src="img/blog/blog2.png", alt="")
                        a(href="blog-single.html" class="blog-info")      
                            p.blog-date !{"MERCREDI 10 NOVEMBRE 2021"}
                            p.blog-title !{"«SCHLAMMENFELD» - UNE MINE À CIEL OUVERT RECONVERTIE EN RÉSERVE NATURELLE, PARTIE 2"}
                    .swiper-slide.blog.bg-green
                        .img-wrap 
                            img(src="img/blog/blog3.png", alt="")
                        a(href="blog-single.html" class="blog-info")      
                            p.blog-date !{"MERCREDI 10 NOVEMBRE 2021"}
                            p.blog-title !{"«SCHLAMMENFELD» - UNE MINE À CIEL OUVERT RECONVERTIE EN RÉSERVE NATURELLE, PARTIE 1"}
                    .swiper-slide.blog.bg-green
                        .img-wrap 
                            img(src="img/blog/blog3.png", alt="")
                        a(href="blog-single.html" class="blog-info")      
                            p.blog-date !{"MERCREDI 10 NOVEMBRE 2021"}
                            p.blog-title !{"«SCHLAMMENFELD» - UNE MINE À CIEL OUVERT RECONVERTIE EN RÉSERVE NATURELLE, PARTIE 1"}
                    .swiper-slide.blog.bg-green
                        .img-wrap 
                            img(src="img/blog/blog3.png", alt="")
                        a(href="blog-single.html" class="blog-info")      
                            p.blog-date !{"MERCREDI 10 NOVEMBRE 2021"}
                            p.blog-title !{"«SCHLAMMENFELD» - UNE MINE À CIEL OUVERT RECONVERTIE EN RÉSERVE NATURELLE, PARTIE 1"}
                    .swiper-slide.blog.brown-bg
                        .img-wrap 
                            img(src="img/blog/blog4.png", alt="")
                        a(href="blog-single.html" class="blog-info")      
                            p.blog-date !{"LUNDI 11 OCTOBRE 2021"}
                            p.blog-title !{"ROMAIN BAUMANN, PRÉSIDENT DU TRAIN 1900"}
                    .swiper-slide.blog.bg-haki
                        .img-wrap 
                            img(src="img/blog/blog8.png", alt="")
                        a(href="blog-single.html" class="blog-info")      
                            p.blog-date !{"LUNDI 11 OCTOBRE 2021"}
                            p.blog-title !{"POURQUOI LE MINERAI DE FER DE NOTRE RÉGION EST-IL APPELÉ «MINETTE»?"}
                    .swiper-slide.blog.brown-bg
                        .img-wrap 
                            img(src="img/blog/blog4.png", alt="")
                        a(href="blog-single.html" class="blog-info")      
                            p.blog-date !{"LUNDI 11 OCTOBRE 2021"}
                            p.blog-title !{"ROMAIN BAUMANN, PRÉSIDENT DU TRAIN 1900"}            
        //- include contacts
        include ../common/contacts-section.pug
        //- include parthners
        include ../common/parthners-section.pug
        //- include map
        include ../common/map-section.pug
        //- include scripts
        include ../common/scripts.pug