html(lang="en")
    append vars
        - currentPage = 'blog-single'
    //- Include head
    include ../common/head.pug 
    body(class=currentPage)
        //- top content  
        section.top-content
            .left-col.bg-green
                a(href="blog.html").back-button    
                    img(src="img/icons/back.png", alt="")
                h1.name-title.blog-title !{"«SCHLAMMENFELD» - UNE MINE À CIEL OUVERT RECONVERTIE EN RÉSERVE NATURELLE, PARTIE 3"}
                .event-text-info
                    p.content-subtitle !{"TUESDAY NOVEMBER 2021"}
            .right-col 
                img(src="img/blog/blog-img1.jpg", alt="")

                
        //- bottom content        
        section.bottom-content
            //- info content
            .col-2.bottom-content__info
                .left-col.content-col
                    //- img( class="img-blog-mob" src="img/blog/blog-img2.jpg", alt="")
                    p !{"Après avoir présenté la mine à ciel ouvert à l’époque de l’exploitation du minerai et sa reconversion en réserve naturelle, nous allons maintenant présenter une étape plus récente : sa labellisation par l’Unesco d’espace « Man and the Biosphere »  (MAB). "}
                    p !{"En effet, le syndicat Pro-Sud réunissant 11 communes du Sud du Luxembourg qui comptent environ un tiers de la population nationale, s’est pris pour mission, dès 2018, d’intégrer ce réseau mondial."}
                    p !{"Le programme de l’Unesco sur l’Homme et la biosphère (MAB) vise à établir une base scientiﬁque pour améliorer les relations homme-nature au niveau mondial, à travers plusieurs disciplines (sciences exactes et naturelles, sciences sociales, économie et éducation). Depuis le 28 octobre 2020, la région a donc rejoint ce réseau pour échanger avec plus de 700 autres réserves réparties dans 124 pays."}
                    p !{"D’une superﬁcie de 200 km², la zone « Minett Unesco Biosphere » est divisée en trois zones :"}
                    p !{"Zone de transition : surfaces avec activités humaines, espace de vie et de travail de la population (139 km² soit 69 % de la biosphère) Zone tampon : espaces dans lesquels les usages ne doivent pas perturber les zones protégées. Elles ont pour rôle de réduire au maximum les effets négatifs des activités humaines sur les zones centrales. On compte 26 zones tampons : autres réserves naturelles et zone NATURA 2000 outre les anciennes mines à ciel ouvert (42 km² soit 21 % de la superﬁcie régionale) Zone centrale : conservation écologique, où seules les activités de recherche ou de surveillance continue sont permises. Il y a 6 zones centrales, constituées exclusivement de sites d’anciennes mines à ciel ouvert, classés en réserves naturelles ou zone NATURA 2000 (19 km² soit 10 % de la superﬁcie de la région). Certaines sont directement adjacentes aux zones d’urbanisation. Il s’agit d’une caractéristique liée à l’héritage industriel car il fallait construire au plus près des mines de fer."}
                .right-col.content-col
                    img(class="img-blog-desk" src="img/blog/blog-img2.jpg", alt="")
                    img(src="img/blog/blog-img3.jpg", alt="")
            
            .col-2.bottom-content__info
                .left-col.content-col
                    img(src="img/blog/blog-img4.jpg", alt="")
                .right-col.content-col
                    p !{"Concrètement, elle cite deux exemples d’activités, qui ont eu lieux cet été sur la réserve naturelle du « Giele Botter - Prënzebierg » :"}
                    p !{"Rocklines : mettre en avant la région sous un angle nouveau, aﬁn de la découvrir d’une manière géopoétique. Il s’agit de mêler science (géographie, géologie) et littérature (poésie, écriture, émotion, créativité) selon ses propres promenades dans la nature. Geoheritage days : journées du patrimoine géologique où durant un week-end de visites il a été possible de découvrir la géologie de notre région ainsi que du Müllerthal. Gaëlle Tavernier ne manque pas d’idées. Elle imagine notamment un forum du climat développé par et pour les jeunes. En effet, elle mesure à juste titre l’importance de la jeunesse dans les actions en faveur du climat."}
                    p !{"Merci à Gaëlle Tavernier pour sa précieuse collaboration."}
                   
                        
        //- include scripts
        include ../common/scripts.pug