html(lang="en")
    append vars
        - currentPage = 'events'
    //- Include head
    include ../common/head.pug 
    body(class=currentPage)
        //- Include header
        include ../common/header2.pug
        
        section.bg-section.events-section-1
            img(class="main-desktop-img" src="img/events/header-evenements.png", alt="home")
            img(class="main-mobile-img" src="img/events/header-evenements-s.png", alt="home")
        section.first-section.events-section-2
            .container
                h1.page-title
                    span.top-line(data-title='right-fade-line')
                    span.bottom-line(data-title='right-fade-line')
                    span.title-note(data-title='right-fade') !{"ÉVÉNEMENTS"}
        section.filter-section
            .container
                .filter-block
                    .left-col
                        a(href="#").link-button !{"Archive"}
                            
                    .right-col
                        .categories-filter
                            h6 !{"CATÉGORIES"}
                            form(action="") 
                                .custom-select
                                    select(name="" )
                                        option(value="Tout voir") !{"Tout voir"}
                                        option(value="Tout voir") !{"Tout voir1"}
                                        option(value="Tout voir") !{"Tout voir2"}
                                        option(value="Tout voir") !{"Tout voir3"}
                        button.remove-filter !{"Suprimer "}
                            img(src="img/icons/cross.svg", alt="")
        section.events-body.events-body-desk
            .event-item.animate
                .middle
                    img(src="img/events/img1.jpg", alt="")
                .left.dark-bg
                    h2 !{'OUVERTURE DE LA SAISON'}
                .right.bg-red
                    a(href="events-single.html")
                        .link-icon
                            img(src="img/icons/back.png", alt="") 
                        .date-post !{"22.05.2022"}
                        .title-post !{"FOND-DE-GRAS/LUXEMBOURG"}
                        .text-post !{"Après la pause hivernale nécessaire aux travaux d’entretiens du matériel roulant historique et le repos bien mérité des bénévoles, le Minett Park est à nouveaux heureux de vous accueillir."}
            .event-item
                .middle
                    img(src="img/events/img2.jpg", alt="")
                .left.bg-haki
                    h2 !{'EXPOSITION "HUDDELAFAT" DE MISCH FEINEN ET CAROLINE KOENER'}
                .right.dark-bg
                    a(href="events-single.html")
                        .link-icon
                            img(src="img/icons/back.png", alt="") 
                        .date-post !{"22.05.2022"}
                        .title-post !{"FOND-DE-GRAS/LUXEMBOURG"}
                        .text-post !{"Après la pause hivernale nécessaire aux travaux d’entretiens du matériel roulant historique et le repos bien mérité des bénévoles, le Minett Park est à nouveaux heureux de vous accueillir."}
            .event-item
                .middle
                    img(src="img/events/img3.jpg", alt="")
                .left.dark-bg
                    h2 !{'OUVERTURE DE LA SAISON'}
                .right.bg-red
                    a(href="events-single.html")
                        .link-icon
                            img(src="img/icons/back.png", alt="") 
                        .date-post !{"22.05.2022"}
                        .title-post !{"FOND-DE-GRAS/LUXEMBOURG"}
                        .text-post !{"Après la pause hivernale nécessaire aux travaux d’entretiens du matériel roulant historique et le repos bien mérité des bénévoles, le Minett Park est à nouveaux heureux de vous accueillir."}
            .event-item
                .middle
                    img(src="img/events/img2.jpg", alt="")
                .left.bg-haki
                    h2 !{'EXPOSITION "HUDDELAFAT" DE MISCH FEINEN ET CAROLINE KOENER'}
                .right.dark-bg
                    a(href="events-single.html")
                        .link-icon
                            img(src="img/icons/back.png", alt="") 
                        .date-post !{"22.05.2022"}
                        .title-post !{"FOND-DE-GRAS/LUXEMBOURG"}
                        .text-post !{"Après la pause hivernale nécessaire aux travaux d’entretiens du matériel roulant historique et le repos bien mérité des bénévoles, le Minett Park est à nouveaux heureux de vous accueillir."}
        section.events-body.events-body-mobile.swiper-container
            .swiper-wrapper
                .event-item.swiper-slide
                    .middle
                        img(src="img/events/img1.jpg", alt="")
                    .left.dark-bg
                        h2 !{'OUVERTURE DE LA SAISON'}
                    .right.bg-red
                        a(href="events-single.html")
                            .link-icon
                                img(src="img/icons/back.png", alt="") 
                            .date-post !{"22.05.2022"}
                            .title-post !{"FOND-DE-GRAS/LUXEMBOURG"}
                            .text-post !{"Après la pause hivernale nécessaire aux travaux d’entretiens du matériel roulant historique et le repos bien mérité des bénévoles, le Minett Park est à nouveaux heureux de vous accueillir."}
                .event-item.swiper-slide
                    .middle
                        img(src="img/events/img2.jpg", alt="")
                    .left.bg-haki
                        h2 !{'EXPOSITION "HUDDELAFAT" DE MISCH FEINEN ET CAROLINE KOENER'}
                    .right.dark-bg
                        a(href="events-single.html")
                            .link-icon
                                img(src="img/icons/back.png", alt="") 
                            .date-post !{"22.05.2022"}
                            .title-post !{"FOND-DE-GRAS/LUXEMBOURG"}
                            .text-post !{"Après la pause hivernale nécessaire aux travaux d’entretiens du matériel roulant historique et le repos bien mérité des bénévoles, le Minett Park est à nouveaux heureux de vous accueillir."}
                .event-item.swiper-slide
                    .middle
                        img(src="img/events/img3.jpg", alt="")
                    .left.dark-bg
                        h2 !{'OUVERTURE DE LA SAISON'}
                    .right.bg-red
                        a(href="events-single.html")
                            .link-icon
                                img(src="img/icons/back.png", alt="") 
                            .date-post !{"22.05.2022"}
                            .title-post !{"FOND-DE-GRAS/LUXEMBOURG"}
                            .text-post !{"Après la pause hivernale nécessaire aux travaux d’entretiens du matériel roulant historique et le repos bien mérité des bénévoles, le Minett Park est à nouveaux heureux de vous accueillir."}
                .event-item.swiper-slide
                    .middle
                        img(src="img/events/img2.jpg", alt="")
                    .left.bg-haki
                        h2 !{'EXPOSITION "HUDDELAFAT" DE MISCH FEINEN ET CAROLINE KOENER'}
                    .right.dark-bg
                        a(href="events-single.html")
                            .link-icon
                                img(src="img/icons/back.png", alt="") 
                            .date-post !{"22.05.2022"}
                            .title-post !{"FOND-DE-GRAS/LUXEMBOURG"}
                            .text-post !{"Après la pause hivernale nécessaire aux travaux d’entretiens du matériel roulant historique et le repos bien mérité des bénévoles, le Minett Park est à nouveaux heureux de vous accueillir."}
        
        //- include contacts
        include ../common/contacts-section.pug
        //- include parthners
        include ../common/parthners-section.pug
        //- include map
        include ../common/map-section.pug
        //- include scripts
        include ../common/scripts.pug