html(lang="en")
    append vars
        - currentPage = 'events-single'
    //- Include head
    include ../common/head.pug 
    body(class=currentPage)
        //- top content  
        section.top-content
            .left-col.dark-bg
                a(href="events.html").back-button    
                    img(src="img/icons/back.png", alt="")
                h1.name-title !{"OUVERTURE DE LA SAISON"}
                .event-text-info
                    p.content-subtitle !{"1.05.2022 AU 1.05.2022"}
                    p.content-subtitle !{"FOND-DE-GRAS & LASAUVAGE"}
                    p.content-subtitle !{"À PARTIR DE 11H00"}
            .right-col 
                img(src="img/events/img11.jpg", alt="")

                
        //- bottom content        
        section.bottom-content
            //- info content
            .col-2.bottom-content__info
                .left-col.content-col
                    p !{"Après la pause hivernale nécessaire aux travaux d’entretien du matériel roulant historique et le repos bien mérité des bénévoles, le Minett Park est à nouveaux heureux de vous accueillir.  "}
                    p !{"Les impressionnantes locomotives du Train 1900 emmènent les visiteurs pour une balade en pleine nature."}
                    p !{"Les départs Pétange – Fond-de-Gras : 13h20, 14h15, 15h10, 16h15, 17h10, 18h20."}
                    p !{"Les départs Fond-de-Gras – Pétange : 12h50, 13h25, 14h45, 15h35, 16h45, 17h40, 18h30."}
                    p !{"Quant au train minier « Minièresbunn », il compte trois départs : à 15h00, 16h00 et 17h00, vers un impressionnant voyage au cœur de la mine."}
                    p !{"Au buffet de la charmante gare du Fond-de-Gras, petite restauration, gâteaux maisons et rafraîchissements seront disponibles tout au long de la journée."}
                .right-col.content-col
                    img(src="img/events/img111.jpg", alt="")
            
            //- analog content
            .analog-content
                h3 !{"ACTIVITÉS LIÉES"}
                .bottom-content__analog.swiper-container
                    .swiper-wrapper
                        a(href="#").analog-block.swiper-slide
                            .img-wrap
                                img(src="img/events/slider/event1.png", alt="")
                            .info-wrap.bg-haki
                                h3.info__title !{"EXPOSITION 'HUDDELAFATZ' DE MISCH FEINEN ET CAROLINE KOENER"}
                                .info-event-bottom
                                    .event-time !{"6.05.2022 - 29.05.2022"}
                                    .event-place !{"Salle des Pendus / Lasauvage"} 
                        a(href="#").analog-block.swiper-slide
                            .img-wrap
                                img(src="img/events/slider/event2.png", alt="")
                            .info-wrap.red-bg
                                h3.info__title !{"JOHN COCKERILL’S DAY: THE TRAINS ARE WHISTLING IN ENGLISH"}
                                .info-event-bottom
                                    .event-time !{"22.05.2022 - 22.05.2022"}
                                    .event-place !{"Fond-de-Gras, Luxembourg"} 
                        a(href="#").analog-block.swiper-slide
                            .img-wrap
                                img(src="img/events/slider/event1.png", alt="")
                            .info-wrap.bg-haki
                                h3.info__title !{"EXPOSITION 'HUDDELAFATZ' DE MISCH FEINEN ET CAROLINE KOENER"}
                                .info-event-bottom
                                    .event-time !{"6.05.2022 - 29.05.2022"}
                                    .event-place !{"Salle des Pendus / Lasauvage"} 
                        a(href="#").analog-block.swiper-slide
                            .img-wrap
                                img(src="img/events/slider/event2.png", alt="")
                            .info-wrap.red-bg
                                h3.info__title !{"JOHN COCKERILL’S DAY: THE TRAINS ARE WHISTLING IN ENGLISH"}
                                .info-event-bottom
                                    .event-time !{"22.05.2022 - 22.05.2022"}
                                    .event-place !{"Fond-de-Gras, Luxembourg"} 
                        
                        
        //- include scripts
        include ../common/scripts.pug