html(lang="en")
    append vars
        - currentPage = 'groups'
    //- Include head
    include ../common/head.pug 
    body(class=currentPage)
        //- Include header
        include ../common/header2.pug
        
        section.bg-section.school-section-1
            img(class="main-desktop-img" src="img/groupes/header-groupe.png", alt="home")
            img(class="main-mobile-img" src="img/groupes/header-groupe-s.png", alt="home")
        section.first-section.school-section-2
            .container
                h1.page-title
                    span.top-line(data-title='right-fade-line')
                    span.bottom-line(data-title='right-fade-line')
                    span.title-note(data-title='right-fade') !{"GROUPES"}
        section
            .container
                .groups-info-wrap
                    .groups-info
                    .groups-info
                        p 
                            span.green-color !{"POUR LES GROUPES, "}
                            |!{"il est possible d'organiser des programmes complets en-dehors des jours habituels de circulation. Les combinaisons sont nombreuses et modulables selon les centres d'intérêt, le temps disponible et le nombre de participants, par example un programme peut comprendre: trajet en train historique 'Train 1900', trajet en train historique minier 'Minièresbunn', visites guidées, trajet en draisine, location de bâtiments (uniquement via une agence événementielle), teambuildings en partenariat avec des agences événementielles"}
        section
            .container 
                .tabs
                    .top 
                        .reservation
                            img(class="reservation-img" src="img/ecole/tableau.png", alt="")
                            p !{"RÉSERVATION:"}
                            a(href="mailto:info@minettpark.lu") !{"info@minettpark.lu"}
                            a(href="tel:35226582069")  !{"tél. (+352) 26 58 20 69"}
                        .tab-links

                    .bottom
                        .tab-content.active
                            .col-2
                                .slider-wrap
                                    .swiper-container.school-slider
                                        .swiper-wrapper
                                            .swiper-slide
                                                img(src="img/groupes/groupe-img1.jpg", alt="")
                                            .swiper-slide
                                                img(src="img/groupes/groupe-img1.jpg", alt="")
                                            .swiper-slide
                                                img(src="img/groupes/groupe-img1.jpg", alt="")
                                    .swiper-button-prev.swiper-button-prev0
                                        img(src="img/icons/nav-prev.png", alt="")
                                    .swiper-button-next.swiper-button-next0
                                        img(src="img/icons/nav-next.png", alt="")
                                .about-school.green-bg
                                    .about-school__programm
                                        h2 !{"PROGRAMME FOND-DE-GRAS"}
                                        p 
                                            span.programm-time !{"10h00 "} 
                                            span.programm-desc !{"- arrivée au Fond-de-Gras"}
                                        p 
                                            span.programm-time !{"10h05 "} 
                                            span.programm-desc !{"-  départ du train minier « Minièresbunn » Fond-de-Gras - Lasauvage - Fond-de-Gras (avec visite dans la mine)"}
                                        p 
                                            span.programm-time !{"12h00  "} 
                                            span.programm-desc !{"-  repas à organiser par vos soins (restaurants)"}
                                        p 
                                            span.programm-time !{"16h00 "} 
                                            span.programm-desc !{"-  départ du Train 1900 Fond-de-Gras - Pétange - Fond-de-Gras"}
                                        p 
                                            span.programm-time !{"17h00  "} 
                                            span.programm-desc !{"-  ﬁn du programme"}
                                    .about-school__tarif 
                                        p 
                                            |!{"TARIF:"}
                                            br
                                            |!{"à partir de 830,00 €"}    
                            .col-2
                                .slider-wrap
                                    .swiper-container.school-slider
                                        .swiper-wrapper
                                            .swiper-slide
                                                img(src="img/groupes/groupe-img2.jpg", alt="")
                                            .swiper-slide
                                                img(src="img/groupes/groupe-img2.jpg", alt="")
                                            .swiper-slide
                                                img(src="img/groupes/groupe-img2.jpg", alt="")
                                    .swiper-button-prev.swiper-button-prev1
                                        img(src="img/icons/nav-prev.png", alt="")
                                    .swiper-button-next.swiper-button-next1
                                        img(src="img/icons/nav-next.png", alt="")
                                .about-school.green-bg
                                    .about-school__programm
                                        h2 !{"PROGRAMME LASAUVAGE"}
                                        p 
                                            span.programm-time !{"10h00 "} 
                                            span.programm-desc !{"-   arrivée à Lasauvage"}
                                        p 
                                            span.programm-time !{"10h05  "} 
                                            span.programm-desc !{"-  visite guidée du village de Lasauvage"}
                                        p 
                                            span.programm-time !{"12h00  "} 
                                            span.programm-desc !{"-  repas à organiser par vos soins (restaurants)"}
                                        p 
                                            span.programm-time !{"14h30  "} 
                                            span.programm-desc !{"-  départ du train minier « Minièresbunn » Lasauvage - mine - Lasauvage (avec visite dans la mine)"}
                                        p 
                                            span.programm-time !{"15h30 "} 
                                            span.programm-desc !{"- arrivée retour à Lasauvage"}
                                    .about-school__tarif 
                                        p 
                                            |!{"TARIF:"}
                                            br
                                            |!{"à partir de 380,00 €"}
                            .col-2
                                .slider-wrap
                                    .swiper-container.school-slider
                                        .swiper-wrapper
                                            .swiper-slide
                                                img(src="img/groupes/groupe-img3.jpg", alt="")
                                            .swiper-slide
                                                img(src="img/groupes/groupe-img3.jpg", alt="")
                                            .swiper-slide
                                                img(src="img/groupes/groupe-img3.jpg", alt="")
                                    .swiper-button-prev.swiper-button-prev2
                                        img(src="img/icons/nav-prev.png", alt="")
                                    .swiper-button-next.swiper-button-next2
                                        img(src="img/icons/nav-next.png", alt="")
                                .about-school.green-bg
                                    .about-school__programm
                                        h2 !{"PROGRAMME TITELBERG"}
                                        p 
                                            span.programm-time !{"10h00  "} 
                                            span.programm-desc !{"-   arrivée au Fond-de-Gras"}
                                        p 
                                            span.programm-time !{"10h05  "} 
                                            span.programm-desc !{"-  visite guidée de l'oppidum celtique du Titelberg"}
                                        p 
                                            span.programm-time !{"12h00  "} 
                                            span.programm-desc !{"-  repas à organiser par vos soins (restaurants)"}
                                        p 
                                            span.programm-time !{"14h30  "} 
                                            span.programm-desc !{"-  visite guidée du site du Fond-de-Gras"}
                                        p 
                                            span.programm-time !{"16hO0 "} 
                                            span.programm-desc !{" -  départ du train minier « Minièresbunn » Fond-de-Gras - Lasauvage - Fond-de-Gras (avec visite dans la mine)"}
                                        p 
                                            span.programm-time !{"17h30 "} 
                                            span.programm-desc !{"-  ﬁn du programme"}
                                    .about-school__tarif 
                                        p 
                                            |!{"TARIF:"}
                                            br
                                            |!{"à partir de 560,00 €"}
                            .col-2
                                .slider-wrap
                                    .swiper-container.school-slider
                                        .swiper-wrapper
                                            .swiper-slide
                                                img(src="img/groupes/groupe-img4.jpg", alt="")
                                            .swiper-slide
                                                img(src="img/groupes/groupe-img4.jpg", alt="")
                                            .swiper-slide
                                                img(src="img/groupes/groupe-img4.jpg", alt="")
                                    .swiper-button-prev.swiper-button-prev3
                                        img(src="img/icons/nav-prev.png", alt="")
                                    .swiper-button-next.swiper-button-next3
                                        img(src="img/icons/nav-next.png", alt="")
                                .about-school.green-bg
                                    .about-school__programm
                                        h2 !{"PROGRAMME GIELE BOTTER"}
                                        p 
                                            span.programm-time !{"10h00  "} 
                                            span.programm-desc !{"- arrivée à Lasauvage"}
                                        p 
                                            span.programm-time !{"10h05  "} 
                                            span.programm-desc !{"-  visite guidée de l'ancienne mine à ciel ouvert « Giele Botter »"}
                                        p 
                                            span.programm-time !{"12h00  "} 
                                            span.programm-desc !{"-  repas à organiser par vos soins (restaurants)"}
                                        p 
                                            span.programm-time !{"14h30  "} 
                                            span.programm-desc !{"-  départ du Train 1900 Fond-de-Gras - Pétange - Fond-de-Gras"}
                                        p 
                                            span.programm-time !{"15h30  "} 
                                            span.programm-desc !{"-  arrivée retour au Fond-de-Gras "}
                                    .about-school__tarif 
                                        p 
                                            |!{"TARIF:"}
                                            br
                                            |!{"à partir de 450,00 €"}
        section.excursions-section
            .col-2.info-block
                .left-col
                    h2.info-title
                        span.brown-text !{"LES VISITES GUIDÉES "}
                        span.dark-text 
                            |!{"DU MINETT PARK "}
                            br
                            |!{"FOND-DE-GRAS"}
                .right-col
                    img(class='rellax' data-rellax-speed="3" data-rellax-percentage="0.5" src="img/groupes/Train-2.png", alt="")             
            .inner-container.excursion-desk
                .excursions-wrap
                    .excursion-block
                        .excursion-block__info
                            .excursion-block__title !{"FOND-DE-GRAS"}
                            .excursion-block__text !{"Lors de la visite, tous les aspects liés à l’histoire de l’exploitation minière sont abordés : la vie des mineurs et leur travail dans la mine, l’importance des industriels et des pouvoirs publiques, le transport du minerai de fer vers les usines de transformation. "}
                            a(href="#" class="excursion-block__link") !{"ENVIRON 1H30"}
                        .excursion-block__img
                            img(src="img/groupes/groupe-img5.jpg", alt="")
                    
                    .excursion-block
                        .excursion-block__info
                            .excursion-block__title !{"VISITE THÉÂTRALE 'DE GRÉNGE MANN'"}
                            .excursion-block__text !{"Le Grénge Mann, est l'esprit et le gardien de la forêt, il vous racontera les légendes, les mythes et les mystères de la nature. Vous apprendrez les propriétés et les vertus médicinales des différents arbres et plantes, tout en goûtant une bonne soupe, préparée avec des plantes sauvages de la forêt. "}
                            a(href="#" class="excursion-block__link") !{"ENVIRON 1H30"}
                        .excursion-block__img
                            img(src="img/groupes/groupe-img6.jpg", alt="")
                    
                    .excursion-block
                        .excursion-block__info
                            .excursion-block__title !{"LE «GIELE BOTTER»"}
                            .excursion-block__text !{"Ancienne mine à ciel ouvert, le « Giele Botter » est maintenant une réserve naturelle où végétation et faune se développent à nouveau. La visite guidée aborde l'aspect industriel du site et sa reconversion en zone naturelle protégée."}
                            a(href="#" class="excursion-block__link") !{"ENTRE 2H00 ET 3H00"}
                        .excursion-block__img
                            img(src="img/groupes/groupe-img7.jpg", alt="")
                    
                    .excursion-block
                        .excursion-block__info
                            .excursion-block__title !{"LA REMISE FERROVIAIRE DU TRAIN 1900"}
                            .excursion-block__text !{"Visite des installations de l’association ferroviaire, ayant comme thème principal le chemin de fer à vapeur. "}
                            a(href="#" class="excursion-block__link") !{"ENVIRON 1H30"}
                        .excursion-block__img
                            img(src="img/groupes/groupe-img8.jpg", alt="")
                    
                    .excursion-block
                        .excursion-block__info
                            .excursion-block__title !{"LE VILLAGE DE LASAUVAGE"}
                            .excursion-block__text !{"La visite de Lasauvage et de ses musées est consacrée à l’histoire de ce village singulier, considéré comme le plus français du Luxembourg. Sa légende, ses habitations ouvrières et ses bâtiments historiques lui confèrent un charme tout particulier."}
                            a(href="#" class="excursion-block__link") !{"ENVIRON 1H30"}
                        .excursion-block__img
                            img(src="img/groupes/groupe-img9.jpg", alt="")
                    
                    .excursion-block
                        .excursion-block__info
                            .excursion-block__title !{"MOMENTS MAGIQUES"}
                            .excursion-block__text !{"La balade nature contée vise à faire découvrir la nature au travers de ces vieux contes et légendes dont regorge la tradition orale et qui se propose d'expliquer, de façon sérieuse ou non, quel secret détient le chêne, pourquoi le merle est noir, ou encore comment ne pas avoir peur dans une forêt enchantée… Vous plongerez dans des histoires extraordinaires racontées par la conteuse Melissa."}
                            a(href="#" class="excursion-block__link") !{"ENVIRON 1H30"}
                        .excursion-block__img
                            img(src="img/groupes/groupe-img10.jpg", alt="")
                    
                    .excursion-block
                        .excursion-block__info
                            .excursion-block__title !{"L’OPPIDUM CELTIQUE DU TITELBERG"}
                            .excursion-block__text !{"Le Titelberg est un site archéologique de première importance. Le sous-sol contient du minerai de fer déjà exploité à l'Age de Fer. Des fouilles ont mis au jour des vestiges d'occupations humaines datant du 1er siècle avant J.-C. "}
                            a(href="#" class="excursion-block__link") !{"ENVIRON 1H30"}
                        .excursion-block__img
                            img(src="img/groupes/groupe-img11.jpg", alt="")
                    
                    .excursion-block.dark-bg
                        .excursion-block__info
                            .excursion-block__title !{"TARIFS:"}
                            p 
                                |!{"VISITE GUIDÉE: à partir de 80,00 €"}
                                |!{"TRAIN MINIER « MINIÈRESBUNN »: à partir de 300,00 €"}
                                |!{"TRAIN 1900: à partir de 350,00 €"}
                            p.contact-string
                                span !{"PLUS D'INFORMATIONS: "}
                                a(href="mailto:info@minettpark.lu") !{"info@minettpark.lu"}
                    
                    .excursion-form.dark-bg 
                        .excursion-block__info
                            .excursion-block__title !{"DEMANDE DE RÉSERVATION"}
                    .excursion-form-toggler
                        a(href="#" class="open-form")
                            img(src="img/icons/arrow-down.png", alt="")
                        
                        form(action="#" id="excursion-form")
                            .form-wrap 
                                .form-field
                                    label(for="field1") 
                                        span !{"Nom et Prénom*"}
                                        input(type="text" id="field1" required)
                                .form-field
                                    label(for="field2") 
                                        span !{"Adresse e-mail*"}
                                        input(type="text" id="field2" required)  
                                .form-field
                                    label(for="field3") 
                                        span !{"Numéro de téléphone*"}
                                        input(type="text" id="field3" required) 
                                .form-field
                                    label(for="field4") 
                                        span !{"Raison sociale"}
                                        input(type="text" id="field4")         
                                .form-field
                                    label(for="field5") 
                                        span !{"Date souhaitée *"}
                                        input(type="text" id="field5")          
                                .form-field
                                    label(for="field6") 
                                        span !{"Nombre de participants prévu*"}
                                        input(type="text" id="field6" required) 
                                .field-radio
                                    h6 !{"De combien de temps disposez-vous ? *"}
                                    .form-field
                                        input(type="radio" name="radio-1" id="radio-field-1")
                                        label(for="radio-field-1" ) 
                                            span !{"1h-2h"}
                                    .form-field
                                        input(type="radio" name="radio-1" id="radio-field-2")
                                        label(for="radio-field-2" ) 
                                            span !{"Une demi journée"}
                                    .form-field
                                        input(type="radio" name="radio-1" id="radio-field-3")
                                        label(for="radio-field-3" ) 
                                            span !{"Une journée complète"}
                                .field-checkbox
                                    h6 !{"Que souhaitez vous faire comme activité(s) ? *"}
                                    .form-field
                                        input(type="checkbox" id="checkbox-field-1")
                                        label(for="checkbox-field-1" ) 
                                            span !{"Train 1900"}
                                    .form-field
                                        input(type="checkbox" id="checkbox-field-2")
                                        label(for="checkbox-field-2" ) 
                                            span !{"Train minier 'Minièresbunn'"}
                                    .form-field
                                        input(type="checkbox" id="checkbox-field-3")
                                        label(for="checkbox-field-3" ) 
                                            span !{"Visite guidée"}
                                    .form-field
                                        input(type="checkbox" id="checkbox-field-4")
                                        label(for="checkbox-field-4" ) 
                                            span !{"Autre :"}
                                        input(type="text")

                                .form-field 
                                .form-field
                                    label(for="field7") 
                                        span !{"Informations complémentaires"}
                                        input(type="text" id="field7" required) 
                            .form-buttons
                                button(type='submit') !{"ENVOYER"}
                                button(type="reset" class='refresh-form') !{"EFFACER"}
            .excursion-mobile
                .inner-container.swiper-container.excursion-swiper
                    .excursions-wrap.swiper-wrapper
                        .excursion-block.swiper-slide
                            .excursion-block__info
                                .excursion-block__title !{"FOND-DE-GRAS"}
                                .excursion-block__text !{"Lors de la visite, tous les aspects liés à l’histoire de l’exploitation minière sont abordés : la vie des mineurs et leur travail dans la mine, l’importance des industriels et des pouvoirs publiques, le transport du minerai de fer vers les usines de transformation. "}
                                a(href="#" class="excursion-block__link") !{"ENVIRON 1H30"}
                            .excursion-block__img
                                img(src="img/groupes/groupe-img5.jpg", alt="")
                        
                        .excursion-block.swiper-slide
                            .excursion-block__info
                                .excursion-block__title !{"VISITE THÉÂTRALE 'DE GRÉNGE MANN'"}
                                .excursion-block__text !{"Le Grénge Mann, est l'esprit et le gardien de la forêt, il vous racontera les légendes, les mythes et les mystères de la nature. Vous apprendrez les propriétés et les vertus médicinales des différents arbres et plantes, tout en goûtant une bonne soupe, préparée avec des plantes sauvages de la forêt. "}
                                a(href="#" class="excursion-block__link") !{"ENVIRON 1H30"}
                            .excursion-block__img
                                img(src="img/groupes/groupe-img6.jpg", alt="")
                        
                        .excursion-block.swiper-slide
                            .excursion-block__info
                                .excursion-block__title !{"LE «GIELE BOTTER»"}
                                .excursion-block__text !{"Ancienne mine à ciel ouvert, le « Giele Botter » est maintenant une réserve naturelle où végétation et faune se développent à nouveau. La visite guidée aborde l'aspect industriel du site et sa reconversion en zone naturelle protégée."}
                                a(href="#" class="excursion-block__link") !{"ENTRE 2H00 ET 3H00"}
                            .excursion-block__img
                                img(src="img/groupes/groupe-img7.jpg", alt="")
                        
                        .excursion-block.swiper-slide
                            .excursion-block__info
                                .excursion-block__title !{"LA REMISE FERROVIAIRE DU TRAIN 1900"}
                                .excursion-block__text !{"Visite des installations de l’association ferroviaire, ayant comme thème principal le chemin de fer à vapeur. "}
                                a(href="#" class="excursion-block__link") !{"ENVIRON 1H30"}
                            .excursion-block__img
                                img(src="img/groupes/groupe-img8.jpg", alt="")
                        
                        .excursion-block.swiper-slide
                            .excursion-block__info
                                .excursion-block__title !{"LE VILLAGE DE LASAUVAGE"}
                                .excursion-block__text !{"La visite de Lasauvage et de ses musées est consacrée à l’histoire de ce village singulier, considéré comme le plus français du Luxembourg. Sa légende, ses habitations ouvrières et ses bâtiments historiques lui confèrent un charme tout particulier."}
                                a(href="#" class="excursion-block__link") !{"ENVIRON 1H30"}
                            .excursion-block__img
                                img(src="img/groupes/groupe-img9.jpg", alt="")
                        
                        .excursion-block.swiper-slide
                            .excursion-block__info
                                .excursion-block__title !{"MOMENTS MAGIQUES"}
                                .excursion-block__text !{"La balade nature contée vise à faire découvrir la nature au travers de ces vieux contes et légendes dont regorge la tradition orale et qui se propose d'expliquer, de façon sérieuse ou non, quel secret détient le chêne, pourquoi le merle est noir, ou encore comment ne pas avoir peur dans une forêt enchantée… Vous plongerez dans des histoires extraordinaires racontées par la conteuse Melissa."}
                                a(href="#" class="excursion-block__link") !{"ENVIRON 1H30"}
                            .excursion-block__img
                                img(src="img/groupes/groupe-img10.jpg", alt="")
                        
                        .excursion-block.swiper-slide
                            .excursion-block__info
                                .excursion-block__title !{"L’OPPIDUM CELTIQUE DU TITELBERG"}
                                .excursion-block__text !{"Le Titelberg est un site archéologique de première importance. Le sous-sol contient du minerai de fer déjà exploité à l'Age de Fer. Des fouilles ont mis au jour des vestiges d'occupations humaines datant du 1er siècle avant J.-C. "}
                                a(href="#" class="excursion-block__link") !{"ENVIRON 1H30"}
                            .excursion-block__img
                                img(src="img/groupes/groupe-img11.jpg", alt="")
                        
                .excursion-block.excursion-block-tarifs.dark-bg
                    .excursion-block__info
                        .excursion-block__title !{"TARIFS:"}
                        p 
                            |!{"VISITE GUIDÉE: à partir de 80,00 €"}
                            |!{"TRAIN MINIER « MINIÈRESBUNN »: à partir de 300,00 €"}
                            |!{"TRAIN 1900: à partir de 350,00 €"}
                        p.contact-string
                            span !{"PLUS D'INFORMATIONS: "}
                            a(href="mailto:info@minettpark.lu") !{"info@minettpark.lu"}
                .excursion-form.dark-bg 
                    .excursion-block__info
                        .excursion-block__title !{"DEMANDE DE RÉSERVATION"}
                .excursion-form-toggler
                    a(href="#" class="open-form")
                        img(src="img/icons/arrow-down.png", alt="")
                    
                    form(action="#" id="excursion-form")
                        .form-wrap 
                            .form-field
                                label(for="field1-1") 
                                    span !{"Nom et Prénom*"}
                                    input(type="text" id="field1-1" required)
                            .form-field
                                label(for="field2-1") 
                                    span !{"Adresse e-mail*"}
                                    input(type="text" id="field2-1" required)  
                            .form-field
                                label(for="field3-1") 
                                    span !{"Numéro de téléphone*"}
                                    input(type="text" id="field3-1" required) 
                            .form-field
                                label(for="field4-1") 
                                    span !{"Raison sociale"}
                                    input(type="text" id="field4-1")         
                            .form-field
                                label(for="field5-1") 
                                    span !{"Date souhaitée *"}
                                    input(type="text" id="field5-1")          
                            .form-field
                                label(for="field6-1") 
                                    span !{"Nombre de participants prévu*"}
                                    input(type="text" id="field6-1" required) 
                            .field-radio
                                h6 !{"De combien de temps disposez-vous ? *"}
                                .form-field
                                    input(type="radio" name="radio-1" id="radio-field-11")
                                    label(for="radio-field-11" ) 
                                        span !{"1h-2h"}
                                .form-field
                                    input(type="radio" name="radio-1" id="radio-field-21")
                                    label(for="radio-field-21" ) 
                                        span !{"Une demi journée"}
                                .form-field
                                    input(type="radio" name="radio-1" id="radio-field-31")
                                    label(for="radio-field-31" ) 
                                        span !{"Une journée complète"}
                            .field-checkbox
                                h6 !{"Que souhaitez vous faire comme activité(s) ? *"}
                                .form-field
                                    input(type="checkbox" id="checkbox-field-11")
                                    label(for="checkbox-field-11" ) 
                                        span !{"Train 1900"}
                                .form-field
                                    input(type="checkbox" id="checkbox-field-21")
                                    label(for="checkbox-field-21" ) 
                                        span !{"Train minier 'Minièresbunn'"}
                                .form-field
                                    input(type="checkbox" id="checkbox-field-31")
                                    label(for="checkbox-field-31" ) 
                                        span !{"Visite guidée"}
                                .form-field
                                    input(type="checkbox" id="checkbox-field-41")
                                    label(for="checkbox-field-41" ) 
                                        span !{"Autre :"}
                                    input(type="text")

                            .form-field 
                            .form-field
                                label(for="field71") 
                                    span !{"Informations complémentaires"}
                                    input(type="text" id="field71" required) 
                        .form-buttons
                            button(type='submit') !{"ENVOYER"}
                            button(type="reset" class='refresh-form') !{"EFFACER"}


        //- include contacts
        include ../common/contacts-section.pug
        //- include parthners
        include ../common/parthners-section.pug
        //- include map
        include ../common/map-section.pug
        //- include scripts
        include ../common/scripts.pug