html(lang="en")
    append vars
        - currentPage = 'main'
    //- Include head
    include ../common/head.pug 
    body(class=currentPage)
        //- Include header
        include ../common/header.pug
        
        section.main-section-1
            img(class="main-desktop-img" src="img/main/home-img.png", alt="home")
            img(class="main-mobile-img" src="img/main/header-Home-S.png", alt="home")
        section.main-section-2
            .container
                .col-2.info-block
                    .left-col
                        h2.info-title
                            span.brown-text !{"UNE JOURNÉE ENTRE"}
                            span.dark-text 
                                |!{"CIEL, NATURE ET HISTOIRE"}
                        img(class="train-img2" src="img/main/train-mob.png", alt="")
                        p !{"Toutefois l'extraction du minerai souterrain se termine en 1955. En 1964, un éboulement sur la ligne de chemin de fer Fond-de-Gras - Pétange met déﬁnitivement ﬁn à toute activité ferroviaire. Rapidement, des bénévoles s’engagent pour faire circuler un train touristique avec des locomotives historiques à vapeur. Le premier «Train 1900» sifﬂe en 1973."}
                        p !{"Quelques années plus tard, une ancienne mine est à nouveau ouverte et se visite grâce train minier « Minièresbunn » qui propose aujourd’hui une expérience impressionnante lors de la visite au fond de la mine."}
                        p !{"Devenu le Minett Park Fond-de-Gras, ce musée en plein air  propose de nombreuses activités complémentaires dont le ﬁl rouge est le minerai de fer. Il comprend : le Fond-de-Gras, le village de Lasauvage, l’ancienne mine à ciel ouvert «Giele Botter» et l’oppidum celtique du Titelberg."}
                        a(href="activites.html" class="link-button") 
                            |!{'VISITER LE FOND-DE-GRAS'}
                            img(src="img/icons/arrow.png", alt="") 
                    .right-col
                        img(class='rellax train-img-desktop' data-rellax-speed="3" data-rellax-percentage="0.5" src="img/main/WAGONS.png", alt="")
                .col-2.img-links
                    .left-col
                        a(href="soutenez.html" class="soutenez-link")
                            img(src="img/main/soutenez.png", alt="soutenez") 
                    .right-col
                        a(href="#" class="pub-link")
                            img(src="img/main/pub.png", alt="pub") 
        //- include contacts
        include ../common/contacts-section.pug
        //- include parthners
        include ../common/parthners-section.pug
        //- include map
        include ../common/map-section.pug
        //- include scripts
        include ../common/scripts.pug