html(lang="en")
    append vars
        - currentPage = 'schools'
    //- Include head
    include ../common/head.pug 
    body(class=currentPage)
        //- Include header
        include ../common/header2.pug
        
        section.bg-section.school-section-1
            img(class="main-desktop-img" src="img/ecole/header-ecole.png", alt="home")
            img(class="main-mobile-img" src="img/ecole/header-ecole-s.png", alt="home")
        section.first-section.school-section-2
            .container
                h1.page-title
                    span.top-line(data-title='right-fade-line')
                    span.bottom-line(data-title='right-fade-line')
                    span.title-note(data-title='right-fade') !{"ÉCOLES"}
        section
            .container
                .school-info-wrap
                    .school-info
                    .school-info
                        h3.color3 !{"LE MINETT PARK FOND-DE-GRAS"} 
                        p !{"propose des programmes adaptés en fonction de l'âge des participants, pendant la période scolaire ainsi que les vacances"}
        section.school-tabs-section
            .container
                .tabs
                    .top 
                        .reservation
                            img(class="reservation-img" src="img/ecole/tableau.png", alt="")
                            p !{"RÉSERVATION:"}
                            a(href="mailto:info@minettpark.lu") !{"info@minettpark.lu"}
                            a(href="tel:35226582069")  !{"tél. (+352) 26 58 20 69"}
                        .tab-links
                            a.school-link.red-link.active 
                                span.square-link
                                |!{"POUR LES ÉCOLES"}
                            a.school-link.green-link
                                span.square-link 
                                |!{"POUR LES ACTIVITÉS VACANCES"}
                    .bottom
                        .tab-content.active
                            .col-2
                                .slider-wrap
                                    .swiper-container.school-slider
                                        .swiper-wrapper
                                            .swiper-slide
                                                img(src="img/ecole/img-ecole-1.jpg", alt="")
                                            .swiper-slide
                                                img(src="img/ecole/img-ecole-1.jpg", alt="")
                                            .swiper-slide
                                                img(src="img/ecole/img-ecole-1.jpg", alt="")
                                    .swiper-button-prev.swiper-button-prev0
                                        img(src="img/icons/nav-prev.png", alt="")
                                    .swiper-button-next.swiper-button-next0
                                        img(src="img/icons/nav-next.png", alt="")
                                .about-school.bg-red
                                    .about-school__programm
                                        h2 !{"PROGRAMME FOND-DE-GRAS"}
                                        p 
                                            span.programm-time !{"09h00"} 
                                            span.programm-desc !{"- arrivée à Pétange (gare CFL)"}
                                        p 
                                            span.programm-time !{"09h15"} 
                                            span.programm-desc !{"-  départ du Train 1900 (autorail ou locomotive Diesel) Pétange - Fond-de-Gras"}
                                        p 
                                            span.programm-time !{"09h45"} 
                                            span.programm-desc !{"-  visite guidée du site du Fond-de-Gras"}
                                        p 
                                            span.programm-time !{"11h15"} 
                                            span.programm-desc !{"-  départ du Train 1900 Fond-de-Gras - Pétange"}
                                        p 
                                            span.programm-time !{"11h45"} 
                                            span.programm-desc !{" ﬁn du programme"}
                                    .about-school__tarif 
                                        p 
                                            |!{"TARIF:"}
                                            br
                                            |!{"Une classe scolaire forfait de 380€"}
                                        p 
                                            |!{"DATE:"}
                                            br
                                            |!{"vendredi 24 juin / lundi 27 juin / vendredi 1 juillet / lundi 4 juillet / "}
                                            br
                                            |!{"vendredi 8 juillet / lundi 11 juillet"}
                            .col-2
                                .slider-wrap
                                    .swiper-container.school-slider
                                        .swiper-wrapper
                                            .swiper-slide
                                                img(src="img/ecole/img-ecole-2.jpg", alt="")
                                            .swiper-slide
                                                img(src="img/ecole/img-ecole-2.jpg", alt="")
                                            .swiper-slide
                                                img(src="img/ecole/img-ecole-2.jpg", alt="")
                                    .swiper-button-prev.swiper-button-prev1
                                        img(src="img/icons/nav-prev.png", alt="")
                                    .swiper-button-next.swiper-button-next1
                                        img(src="img/icons/nav-next.png", alt="")
                                .about-school.bg-red
                                    .about-school__programm
                                        h2 !{"PROGRAMME LASAUVAGE"}
                                        p 
                                            span.programm-time !{"09h30"} 
                                            span.programm-desc !{"- arrivée à Lasauvage"}
                                        p 
                                            span.programm-time !{"09h45"} 
                                            span.programm-desc !{"- visite guidée du village de Lasauvage"}
                                        p 
                                            span.programm-time !{"10h45"} 
                                            span.programm-desc !{"- départ du train minier « Minièresbunn »  Lasauvage - mine - Lasauvage"}
                                        p 
                                            span.programm-time !{"11h45"} 
                                            span.programm-desc !{"- ﬁn du programme"}
                                    .about-school__tarif 
                                        p 
                                            |!{"TARIF:"}
                                            br
                                            |!{"Une classe scolaire forfait de 280€"}
                                        p 
                                            |!{"Si vous n’avez pas de bus à votre disposition, merci de nous contacter "}
                                            br
                                            |!{"aﬁn de vous proposer un horaire adapté aux transports en communs."}
                                        p 
                                            |!{"DATE:"}
                                            br
                                            |!{"vendredi 24 juin / vendredi 1 juillet / vendredi 8 juillet "}
                                        p 
                                            |!{"INFORMATIONS PRATIQUES :"}
                                            br
                                            |!{"Offre limitée à une classe scolaire"}
                                            br
                                            |!{"Attention! Activités en plein air/dans la mine, prévoyez une tenue "}
                                            br
                                            |!{"adaptée (vêtements chauds et chaussures adaptées)"}
                                        h6 
                                            |!{"RÉSERVATION OBLIGATOIRE :"}
                                        a(href="mailto:info@minettpark.lu") !{"info@minettpark.lu"}
                                        a(href="tel:+35226582069") !{"tél. (+352) 26 58 20 69"}
                                            
                        .tab-content
                            .col-2
                                .slider-wrap
                                    .swiper-container.school-slider
                                        .swiper-wrapper
                                            .swiper-slide
                                                img(src="img/ecole/img-ecole-3.jpg", alt="")
                                            .swiper-slide
                                                img(src="img/ecole/img-ecole-3.jpg", alt="")
                                            .swiper-slide
                                                img(src="img/ecole/img-ecole-3.jpg", alt="")
                                    .swiper-button-prev.swiper-button-prev2
                                        img(src="img/icons/nav-prev.png", alt="")
                                    .swiper-button-next.swiper-button-next2
                                        img(src="img/icons/nav-next.png", alt="")
                                .about-school.bg-green
                                    .about-school__programm
                                        h2 
                                            | !{"UNE APRÈS-MIDI"}
                                            | !{"AU FOND-DE-GRAS"}
                                        p !{"Rejoignez le Fond-de-Gras en train historique, le Train 1900 pour y proﬁter des activités du Minett Park : un tour en draisines à travers la nature et une balade sur le site notamment dans ses musées (ancienne épicerie Binck et la centrale électrique Hall Paul Wurth)."}
                                    
                                    .about-school__tarif 
                                        p 
                                            |!{"INFORMATIONS PRATIQUES:"}
                                        p
                                            |!{"TRAIN 1900 "}
                                            br
                                            |!{"Pétange - Fond-de-Gras:"}
                                            br
                                            |!{"10:30 (arrivée 10:50), 14:30 (arrivée 14:50), 17:30 (arrivée 17:50)"}
                                        p 
                                            |!{"Fond-de-Gras - Pétange:"}
                                            br
                                            |!{"09:55 (arrivée 10:15), 14:00 (arrivée 14:20), 17:00 (arrivée 17:20) "}
                                        p 
                                            |!{"DRAISINES"}
                                            br
                                            |!{"Départs à 14h, 14h45, 15h30, 16h15, 17h00, 17h45 ;"}
                                            br
                                            |!{"Durée du trajet aller/retour environ 40 minutes ;"}
                                            br
                                            |!{"Tarif 10€/draisine (max 4 personnes par draisine dont un accompagnateur "}
                                            br
                                            |!{"majeur obligatoire)"}
                                        p 
                                            |!{"MUSÉES"}
                                            br
                                            |!{"Ouverts de 11h-12h30 et 13h-18h ;"}
                                            br
                                            |!{"Entrée gratuite"}
                                        p 
                                            |!{"BISTRO DE LA GARE"}
                                            br
                                            |!{"Ouvert de 13h à 18h"}
                                        p
                                            |!{"Il est aussi possible d’organiser des visites en-dehors des jours "}
                                            br
                                            |!{"mentionnés ci-dessus. N’hésitez pas à nous contacter pour organiser une "}
                                            br
                                            |!{"journée inoubliable pour vos enfants. "}

                            .col-2
                                .slider-wrap
                                    .swiper-container.school-slider
                                        .swiper-wrapper
                                            .swiper-slide
                                                img(src="img/ecole/img-ecole-4.jpg", alt="")
                                            .swiper-slide
                                                img(src="img/ecole/img-ecole-4.jpg", alt="")
                                            .swiper-slide
                                                img(src="img/ecole/img-ecole-4.jpg", alt="")
                                    .swiper-button-prev.swiper-button-prev3
                                        img(src="img/icons/nav-prev.png", alt="")
                                    .swiper-button-next.swiper-button-next3
                                        img(src="img/icons/nav-next.png", alt="")
                                .about-school.bg-green
                                    .about-school__programm
                                        h2 !{"A LA DÉCOUVERTE DE LASAUVAGE AVEC LE TRAIN MINIER"}
                                        p 
                                            span.programm-time !{"09h30 "} 
                                            span.programm-desc !{"- arrivée à Lasauvage"}
                                        p 
                                            span.programm-time !{"09h45 "} 
                                            span.programm-desc !{"-  visite dans l’ancien village de mineur ; son histoire et sa légende"}
                                        p 
                                            span.programm-time !{"10h45  "} 
                                            span.programm-desc !{"-  départ du train minier « Minièresbunn » Lasauvage - mine - Lasauvage"}
                                        p 
                                            span.programm-time !{"11h45 "} 
                                            span.programm-desc !{"-  ﬁn du programme"}
                                        p 
                                            |!{"Possibilité de prolonger le programme avec un repas (pique-nique ou restaurant, à organiser par vos soins) puis une promenade libre du sentier de la Crosnière (Naturentdeckungspfad), la découverte libre de l’étang ou simplement sur l’aire de jeux."}
                                    .about-school__tarif
                                        p 
                                            |!{"INFORMATIONS PRATIQUES:"}
                                        p 
                                            |!{"TARIF:"}
                                            br
                                            |!{"Train minier: 200€ (max. 50 places)"}
                                            br
                                            |!{"Visite: 80€/groupe (25 personnes/groupe)"}
                                        p 
                                            |!{"Si vous n’avez pas de bus à votre disposition, merci de nous contacter "}
                                            br
                                            |!{"aﬁn de vous proposer un horaire adapté aux transports en communs."}
                                        h6 
                                            |!{"RÉSERVATION OBLIGATOIRE :"}
                                        a(href="mailto:info@minettpark.lu") !{"info@minettpark.lu"}
                                        a(href="tel:+35226582069") !{"tél. (+352) 26 58 20 69"}
        //- include contacts
        include ../common/contacts-section.pug
        //- include parthners
        include ../common/parthners-section.pug
        //- include map
        include ../common/map-section.pug
        //- include scripts
        include ../common/scripts.pug