html(lang="en")
    append vars
        - currentPage = 'soutenez'
    //- Include head
    include ../common/head.pug 
    body(class=currentPage).soutenez-page
        //- top content  
        section.top-content
            .left-col.dark-bg
                a(href="index.html").back-button    
                    img(src="img/icons/back.png", alt="")
                h1.name-title !{"SOUTENEZ-NOUS"}
                p.content-subtitle !{"Association sans but lucratif, le Minett Park  Fond-de-Gras, coordonne les activités du Fond-de-Gras, en proposant de nombreuses activités dont le ﬁl rouge est le minerai de fer, de son exploitation dans les mines à sa transformation dans les usines sidérurgiques. Trois salariés œuvrent pour l’organisation des visites, la programmation culturelle (expositions, concerts, événements thématiques), les relations publiques et la communication."}

            .right-col 
                img(class='soutenez-img-desk' src="img/soutenez/Soutenez-nous.jpg", alt="")
                img(class='soutenez-img-mob' src="img/soutenez/Soutenez-nous-SMARTPHONE.jpg", alt="")
        



        //- bottom content        
        section.bottom-content
            .container
                //- info content
                .col-2.bottom-content__info
                    .left-col.content-col
                        p 
                            b !{"Afin de nous aider dans cette démarche, vous pouvez nous soutenir en faisant un don."}
                        p 
                            b !{"Trois possibilités s'offrent à vous: "}
                    .right-col.content-col
                .col-2.bottom-content__info
                    .left-col.content-col
                        h3.info-title
                            span.brown-text !{"DEVENEZ MEMBRE"}
                            span.dark-text 
                                |!{"DU CERCLE DES AMIS DU MINETT PARK"}
                        h4.info-title.m-t.m-b
                            span.brown-text !{"DEUX"}
                            br
                            span.dark-text 
                                |!{"NIVEAUX DE DONATIONS:"}
                        h4.info-title
                            span.brown-text !{"DONATEUR INDIVIDUEL"}
                        p !{"à partir de 15€ par personne ou 25€ par ménage"}

                        .cite.m-b
                            p !{"newsletter exclusive pour découvrir les coulisses du Minett Park"}
                            p !{"invitation aux événements organisés tout au long de la saison"}

                        p !{"Afin de nous aider dans cette démarche, vous pouvez nous soutenir en faisant un don."}
                        p !{"Trois possibilités s'offrent à vous: "}

                        h4.info-title
                            span.brown-text !{"GRAND DONATEUR"}
                        p !{"à partir de 120 € par personne / an"}
                        .cite.m-b
                            p !{'newsletter exclusive pour découvrir les coulisses du Minett Park'}
                            p !{'invitation aux événements organisés tout au long de la saison'}
                            p !{'don déductible des impôts'}
                            p !{'invitation à une rencontre annuelle spéciale pour les grands donateurs : laissez-vous surprendre !'}
                        p.m-t.m-b  
                            |!{"Pour cela, remplissez"}
                            a(href="img/Formulaire Dons Focuna - FR.pdf" target="_blank" ) !{"le formulaire"}
                                img(src="img/icons/nav-next.png", alt="")
                        p.m-b  
                            |!{"et renvoyez le nous par email: "}
                            a(href="mailto:info@minettpark.lu" ) !{"info@minettpark.lu"}
                        h3.info-title.m-b.m-t
                            span.brown-text !{"DON UNIQUE"}
                        p !{"Vous souhaitez simplement faire un don unique (déductible des impôts) sans contreparties, possible également le faire via "}
                            a(href="https://www.focuna.lu/fr/Faites-un-don/Minett-Park-Fond-de-Gras/form")  !{"le Fonds culturel national"}
                    .right-col.content-col
                        h3.info-title.m-b
                            span.brown-text !{"DON EN NATURE"}
                        p !{"Soucieux de compléter sa collection le Minett Park Fond-de-Gras se réjouit des dons en nature qui lui sont faits (photos, livres, afﬁches, archives, outils, engins…). L’accent est mis sur l’histoire du Fond-de-Gras et de ses bâtiments, le chemin de fer, les mines, les mineurs et  le village de Lasauvage. "}
                        p !{"Merci d’avance à tous les donateurs qui, par leur générosité, permettront la sauvegarde du patrimoine industriel et en faciliterons l’étude."}
                        p !{"N’hésitez pas à nous contacter:  "}
                            a(href="mailto:info@minettpark.lu") !{"info@minettpark.lu"} 
                        h3.info-title
                            span.brown-text !{"DEVENEZ MEMBRE"}
                            br
                            span.dark-text 
                                |!{"DU CERCLE DES AMIS DU MINETT PARK"}
                        p !{"En tant que bénévoles, les deux associations ferroviaires, la Minièresbunn et le Train 1900 ont besoin de l'engagement de membres actifs."}
                        h4.m-b !{"LES TÂCHES:"}
                        .cite.m-b
                            p !{"restauration et préservation du matériel historique"}
                            p !{"encadrement des visiteurs"}
                            p !{"service au buffet de la gare"}
                            p !{"vente de billets et information aux visiteurs"}
                            p !{"conduite des trains historiques"}
                        p !{"Investissez votre temps libre au sein d’une association œuvrant pour la sauvegarde du patrimoine ferroviaire et industriel national."}
                        h4.m-b !{"PLUS D’INFORMATIONS "}
                        p !{"Le train minier 'Minièresbunn':"}
                            a(href="mailto:info@minieresbunn.lu") !{"info@minieresbunn.lu"}
                        p !{"Le Train 1900"}
                            a(href="mailto:train1900@pt.lu") !{"train1900@pt.lu"}
        
        
        //- include scripts
        include ../common/scripts.pug